<p>
    <strong>1. Statement of Binomial theorem: </strong>
    \[If \; a, b \in R \; and \; n \in N, \; then \; (a+b)^n= \; ^nC_0 \; a^nb^0 + \; ^nC_1 \;
    a^{n-1}b^1 + \; ^nC_2 \; a^{n-2}b^2 +.....+ \; ^nC_r \; a^{n-r}b^r +.....+ \; ^nC_n \; a^0b^n\]
    \[= \sum_{r=0}^n \; ^nC_r a^{n-r}b^r\]
    <strong>2. Properties of Binomial Theorem: </strong>
    \[A. \; General term: T_{r+1}=\;^nC_r a^{n-r} b^r\]
    \[B. \; Middle term (s): \]
    \[i. \; If \; n \; is \; even, \; there \; is \; only \; one \; middle \; term, \; which \; is \;
    \left(\frac{n+2}{2}\right)^{th} term\]
    \[ii. \; If \; n \; is \; odd, \; there \; are \; two \; middle \; terms, \; which \; are \;
    \left(\frac{n+1}{2}\right)^{th} \; and \left(\frac{n+1}{2}+1\right)^{th} \; terms\]
    <strong>3. Multinomial Theorem: </strong>
    \[(x_1+x_2+x_3+.....+x_k)^n= \sum_{r_1+r_2+...+r_k=n} \frac{n!}{r_1!r_2!...r_k!} \;
    x_1^{r_1}.x_2^{r_2}...x_k^{r_k}\]
    \[Here \; total \; number \; of \; terms \; in \; the \; expansion = \; ^{n+k-1}C_{k-1}\]
    <strong>4. Application of Binomial Theorem: </strong>
    \[If \; (\sqrt{A}+B)^n = I + f \; where \; I \; and \; n \; are \; positive \; integers, \; n \;
    being \; odd \; and \; 0 < f < 1 \; then \; (I + f) f=k^n \; where \; A - B^2=k> 0 \; and \;
        \sqrt{A}-B < 1\] \[If \; n \; is \; an \; even \; integer, \; then \; (I + f) (1 - f)=k^n\] <strong>5.
            Properties of Binomial Coefficients: </strong>
            \[A. \; ^nC_0+\; ^nC_1+\; ^nC_2+.....+\; ^nC_n=2^n\]
            \[B. \; ^nC_0-\; ^nC_1+\; ^nC_2-\; ^nC_3+.....+\;(-1)^n \; ^nC_n=0\]
            \[C. \; ^nC_0+\; ^nC_2+\; ^nC_4+.....=\; ^nC_1+\; ^nC_3+\; ^nC_5+.....=2^{n-1}\]
            \[D. \; ^nC_r+ \; ^nC_{r-1}= \; ^{n+1}C_r \; \; \; E. \; \frac{^nC_r}{^nC_{r-1}} =
            \frac{n-r+1}{r}\]
            <strong>6. Binomial Theorem For Negative Integer Or Fractional Indices:</strong>
            \[(1-x)^n=1 \; + \;
            nx+\frac{n(n-1)}{2!}x^2+\frac{n(n-1)(n-2)}{3!}x^3+.....+\frac{n(n-1)(n-2).......(n-r+1)}{r!}x^r+
            \;.....|x|< 1\] \[T_{r+1}=\frac{n(n-1)(n-2).........(n-r+1)}{r!}x^r \] </p>