<p>
    <strong class="_2a a_active" id="a13" style="color: blueviolet;">1. Intercepts made by
        Circle:\[\mathrm{Circle \; x^2+y^2+2gx+2fy+c = 0 \; on \; the \;
        Axes:}\]</strong>
    \[A. \; 2 \sqrt{g^2-c} \; \; on \; x-axis \; \; \; B. \; 2 \sqrt{f^2-c} \; \; on \; y-axis\]
    <strong class="_2a" id="a14">2. Parametric Equations of a Circle:</strong>
    \[x = h + rcos\theta \; ; \; \; y = k + rsin\theta\]
    <strong class="_2a" id="a15">3. Tangent:</strong>
    \[A. \; Slope \; form: \; y = mx \pm a \sqrt{1+m^2}\]
    \[B. \; Point \; form: \; xx_1 + yy_1 = a^2 \; or \; T = 0\]
    \[C. \; Parametric \; form: \; xcos\alpha + ysin\alpha = a\]
    <strong class="_2a" id="a16">4. Pair of Tangents from a Point:</strong>
    \[SS_1 = T^2\]
    <strong class="_2a" id="a17">5. Length of a Tangent:</strong>
    \[Length \; of \; tangent \; is \; \sqrt{S_1}\]
    <strong class="_2a" id="a18">6. Center at some point:</strong>
    \[Equation \; of \; center \; of \; a \; circle \; at \; (\alpha,\beta) \; with \; radius \; a \; is
    \\ (x-\alpha)^2+(y-\beta)^2 = a^2\]

    <!-- </p>
<p> -->
    <strong class="_2a" id="a19">7. Director Circle:</strong>
    \[x^2+y^2 = 2a^2 \; for \; x^2+y^2 = a^2\]
    <strong class="_2a" id="a20">8. Chord of Contact:</strong> T = 0
    \[A. \; Length \; of chord \; of \; contact = \frac{2LR}{\sqrt{R^2+L^2}}\]
    \[B. \; Area \; of \; the \; triangle \; formed \; by \; the \; pair \; of \; the \; tangents \;
    \& \; its \; chord \; of \; contact = \frac{RL^3}{R^2+L^2}\]
    \[C. \; Tangent \; of \; the \; angle \; between \; the \; pair \; of \; tangents \; from \;
    (x_1,y_1) = \frac{2RL}{L^2-R^2}\]
    \[D. \; Equation \; of \; the \; circle \; circumscribing \; the \; triangle \; PT_1T_2 \; is \\ =
    (x-x_1)(x+g)+(y-y_1)(y+f) = 0\]
    <strong class="_2a" id="a21">9. Condition of orthogonality of Two Circles:</strong>
    \[2g_1g_2 + 2f_1f_2 = c_1 + c_2\]
    <strong class="_2a" id="a22">10. Radical Axis:</strong>
    \[S_1 - S_2 = 0 \; i.e. \; 2(g_1-g_2)x + 2(f_1-f_2)y + (c_1-c_2) = 0\]
    <strong class="_2a" id="a23">11. Family of Circles:</strong>
    \[S_1 + KS_2 = 0, \; S + KL = 0\]
</p>