<p>
    <strong>1. The complex number system: </strong>
    \[If \; z = a + ib, \; then \; a - ib \; is \; called \; congugate \; of \; z \; and \; is \;
    denoted \; by \; \bar z\]
    <strong>2. Equality In Complex Number: </strong>
    \[z_1=z_2 \implies Re(z_1)=Re(z_2) \; and \; I_m(z_1)=I_m(z_2)\]
    <strong>3. Properties of arguments: </strong>
    \[A. \; arg(z_1z_2)=arg(z_1)+arg(z_2) \; + \; 2m \pi \; for \; some \; integer \; m\]
    \[B. \; arg(z_1/z_2)=arg(z_1)-arg(z_2) \; + \; 2m \pi \; for \; some \; integer \; m\]
    \[C. \; arg(z^2)=2arg(z) \; + \; 2m \pi \; for \; some \; integer \; m\]
    \[D. \; arg(z)=0 \implies z \; is \; a \; positive \; real \; number\]
    \[E. \; arg(z)= \pm \pi/2 \implies z \; is \; purely \; imaginary \; and \; z \neq 0\]
    <strong>4. Properties of conjugates: </strong>
    \[A. \; |z| = |\bar z| \; \; \; B. \; z \bar z = |z|^2 \; \; \; C. \; \overline{z_1 + z_2}= \bar z_1
    + \bar z_2\]
    \[D. \; \overline{z_1 - z_2}= \bar z_1 - \bar z_2 \; \; \; E. \; \overline{z_1z_2}= \bar z_1 \bar
    z_2 \; \; \; F. \; \overline{\left(\frac{z_1}{z_2}\right)} = \frac{ \bar z_1}{ \bar z_2} \; \; \;
    (z_2 \neq 0)\]
    \[F. \; \left|z_1+z_2\right|^2=(z_1+z_2) \overline{(z_1+z_2)}= |z_1|^2+|z_2|^2+ z_1 \bar z_2 + \bar
    z_1z_2\]
    \[G. \; \overline{(\bar z_1)} = z \; \; \; H. \; If \; w=f(z), \; then \; \bar w = f( \bar z) \; \;
    \; I. \; arg(z) + arg( \bar z)\]
    <strong>5. Rotation theorem: </strong>
    \[If \; P(z_1), \; Q(z_2) \; and \; R(z_3) \; are \; three \; complex \; numbers \; and \; \angle
    PQR = \theta, \; then \; \left(\frac{z_3-z_2}{z_1-z_2}\right) = \left|\frac{z_3-z_2}{z_1-z_2}\right|
    e^{i \theta }\]
    <strong>6. Demoivre's Theorem: </strong>
    \[If \; n \; is \; any \; integer \; then\]
    \[A. \; (cos \theta + isin \theta )^n = cosn \theta +isinn \theta \]
    \[B. \; (cos \theta _1 + isin \theta _1) \; (cos \theta _2 + isin \theta _2) \; (cos \theta _3 +
    isin \theta _3) ..... (cos \theta _n + isin \theta _n)=cos( \theta _1+ \theta _2+ \theta _3+.....+
    \theta _n) + isin( \theta _1+ \theta _2+ \theta _3+.....+ \theta _n)\]
    <strong>7. Cube Root Of Unity: </strong>
    \[A. \; The cube \; root \; of \; unity \; are \; 1, \frac{-1+i \sqrt{3}}{2}, \frac{-1-i
    \sqrt{3}}{2}\]
    \[B. \; If \; \omega \; is \; one \; of \; the \; imaginary \; cube \; root \; of \; unity \; then
    \; 1+ \omega + \omega ^2 = 0. \; In \; general \; 1+ \omega ^r + \omega ^{2r}=0, \; where \; r \in N
    \; ut \; not \; the \; multiple \; of \; 3\]
    <strong>8. Geometrical Properties: </strong>
    \[A. \; Distance formula: |z_1-z_2|\]
    \[B. \; Section formula: z= \frac{mz_2+nz_1}{m+n} \; (internal \; division), \; z=
    \frac{mz_2-nz_1}{m-n} \; (external \; division)\]
    \[i. \; amp(z)= \theta \; is \; a \; ray \; eamnating \; from \; the \; origin \; inclined \; at \;
    an \; angle \; \theta \; to \; the \; x-axis\]
    \[ii. \; |z-a|=|z-b| \; is \; the \; perpendicular \; bisector \; of \; the \; line \; joining \; a
    \; to \; b\]
    \[iii. \; If \; \left| \frac{z-z_1}{z-z_2}\right|= k \neq 1, 0, \; then \; locus \; of \; z \; is \;
    circle\]
</p>