<p>
    <strong class="_10a a_active" id="a67" style="color: blueviolet;">1. Properties of definite
        integral:</strong>
    \[A. \; \int_a^b f(x)dx=\int_a^b f(t)dt, \; \; \; \; B. \; \int_a^b f(x)dx=-\int_b^a f(x)dx\]
    \[C. \; \int_a^b f(x)dx=\int_a^c f(x)dx+\int_c^b f(x)dx\]
    \[D. \; \int_{-a}^a f(x)dx=\int_0^a (f(x)+f(-x))dx= 2\int_0^a f(x)dx, \; \; \; when \; f(-x)=f(x)\]
    \[\hspace{8.2cm}= 0, \; \; \; when \; f(-x)=-f(x)\]
    \[E. \; \int_a^b f(x)dx=\int_a^b f(a+b-x)dx\]
    \[F. \; \int_0^a f(x)dx=\int_0^a f(a-x)dx\]
    \[G. \; \int_0^{2a} f(x)dx=\int_0^a (f(x)+f(2a-x))dx=2\int_0^a f(x)dx, \; \; \; when \;
    f(2a-x)=f(x)\] \[\hspace{9cm}= 0, \; \; \; when \; f(2a-x)=-f(x)\]
    \[H. \; If \; f(x) \; is \; a \; periodic \; function \; with \; period \; T, \; then\]
    \[\int_0^{nT} f(x)dx=n\int_0^T f(x)dx, \; \; n\in Z, \; \; \; \; \int_a^{a+nT} f(x)dx=n\int_0^T
    f(x)dx, \; \; n\in Z, \; \; a\in R\]
    \[\int_{mT}^{nT} f(x)dx=(n-m)\int_0^T f(x)dx, \; \; n\in Z, \; \; \; \; \int_{nT}^{a+nT}
    f(x)dx=\int_0^a f(x)dx, \; \; n\in Z, \; \; a\in R\]
    \[\int_{a+nT}^{b+nT} f(x)dx=\int_a^b f(x)dx, \; \; n\in Z, \; \; a,b\in R\]
    \[I. \; If \; \psi(x) \leq f(x) \leq \phi(x) \; for \; a \leq x \leq b,\]
    \[then \; \int_a^b \psi(x)dx \leq \int_a^b f(x)dx \leq \int_a^b \phi(x)dx\]
    \[J. \; If \; m \; \leq f(x) \leq M \; for \; a \leq x \leq b, \; then \; m (b - a) \leq \int_a^b
    f(x)dx \leq M (b - a)\]
    \[K. \; If \; f(x) \geq 0 \; on \; [a, b] \; then \; \int_a^b f(x)dx \geq 0\]
    <strong class="_10a" id="a68">2. Leibnitz Theorem:</strong>
    \[If \; F(x)=\int_{g(x)}^{h(x)}f(t)dt, \; then \; \frac{dF(x)}{dx}=h'(x) f(h(x)) - g'(x) f(g(x))\]
</p>