<p>
    <strong class="_7a a_active" id="a45" style="color: blueviolet;">1. Differentiation of some
        elementary function:</strong>
    \[A. \; \frac{d}{dx}(x^n)=nx^{n-1} \; \; \; \; B. \; \frac{d}{dx}(a^x)=a^x\ell na\]
    \[C. \; \frac{d}{dx}(\ell n \left|x\right|)=\frac{1}{x} \; \; \; \; D. \;
    \frac{d}{dx}(log_aX)=\frac{1}{x\ell na}\]
    \[E. \; \frac{d}{dx}(sinx)=cosx \; \; \; \; F. \; \frac{d}{dx}(cosx)=-sinx\]
    \[G. \; \frac{d}{dx}(secx)=secxtanx \; \; \; \; H. \; \frac{d}{dx}(cosecx)=-cosecxcotx\]
    \[I. \; \frac{d}{dx}(tanx)=sec^2x \; \; \; \; J. \; \frac{d}{dx}(cotx)=-cosec^2x\]
    \[K. \; \frac{d}{dx}(sin^{-1}x)=\frac{1}{\sqrt{a-x^2}} \; \; \; \; L. \;
    \frac{d}{dx}(cos^{-1}x)=-\frac{1}{\sqrt{a-x^2}}\]
    \[M. \; \frac{d}{dx}(tan^{-1}x)=\frac{1}{1+x^2} \; \; \; \; N. \;
    \frac{d}{dx}(cot^{-1}x)=-\frac{1}{1+x^2}(x\in R)\]
    \[O. \; \frac{d}{dx}(sec^{-1}x)=\frac{1}{|x|\sqrt{x^2-1}} \; \; \; \; P. \;
    \frac{d}{dx}(sec^{-1}x)=-\frac{1}{|x|\sqrt{x^2-1}} \; for \; x \in (-\infty,-1)\cup(1,infty)\]
    <strong class="_7a" id="a46">2. Basic Theorems:</strong>
    \[A. \; \frac{d}{dx}(f\pm g)=f'(x)\pm g'(x) \; \; \; \; B. \;
    \frac{d}{dx}(kf(x))=k\frac{d}{dx}f(x)\]
    \[C. \; \frac{d}{dx}(f(x).g(x))=f(x)g'(x)+g(x)f'(x)\]
    \[D. \; \frac{d}{dx}\left(\frac{f(x)}{g(x)}\right)=\frac{g(x)f'(x)-f(x)g'(x)}{g^2(x)}\]
    \[E. \; \frac{d}{dx}(f(g(x)))=f'(g(x))g'(x)\]
    <strong class="_7a" id="a47">3. Differentiation using substitution:</strong>
    \[Following \; substitutions \; are \; normally \; used \; to \; simplify \; these \; expression.\]
    \[A. \; \sqrt{x^2+a^2} \; by \; substituting \; x=atan\theta, \; where \; -\frac{\pi}{2}< \theta < \frac{\pi}{2}\]
        \[B. \; \sqrt{a^2-x^2} \; by \; substituting \; x=asin\theta, \; where \; -\frac{\pi}{2}\le \theta \le
        \frac{\pi}{2}\] \[C. \; \sqrt{x^2-a^2} \; by \; substituting \; x=asec\theta, \; where \; \theta\in[0,\pi], \;
        \theta \ne \frac{\pi}{2}\] \[D. \; \sqrt{\frac{x+a}{a-x}} \; by \; substituting \; x=acos\theta, \; where \;
        \theta\in[0,\pi]\] <strong class="_7a" id="a48">4. Parametric Differentiation:</strong>
        \[If \; y=f(\theta) \& x=g(\theta) \; where \; \theta \; is \; a \; parameter, \; then \;
        \frac{dy}{dx}=\frac{dy/d\theta}{dx/d\theta}\]
        <strong class="_7a" id="a49">5. Derivative of one function with respect to another:</strong>
        \[Let \; y=f(x); \; z=g(x) \; then \; \frac{dy}{dz}=\frac{dy/dx}{dz/dx}=\frac{f'(x)}{g'(x)}\]
        \[If \; F(x)=\left|\begin{array}af(x) & g(x) & h(x) \\ l(x) & m(x) & n(x) \\ u(x) & v(x) &
        w(x)\end{array}\right|, \; where \; f, \; g, \; h, \; l, \; m, \; n, \; u, \; v, \; w \; are \;
        differentiable \; functions \; of \; x,\]
        \[then \; F'(x)=\left|\begin{array} af'(x) & g'(x) & h'(x) \\ l(x) & m(x) & n(x) \\ u(x) & v(x)
        & w(x)\end{array}\right|+\left|\begin{array} af(x) & g(x) & h(x) \\ l'(x) & m'(x) & n'(x) \\
        u(x) & v(x) & w(x)\end{array}\right|+\left|\begin{array} af(x) & g(x) & h(x) \\ l(x) & m(x) &
        n(x) \\ u'(x) & v'(x) & w'(x)\end{array}\right|\]
</p>