<p>
    <strong>1. Vector representation of a point: </strong>
    \[Position \; vector \; of \; point \; P(x,y,z) \; is \; x \hat i + y \hat j + z \hat k\]
    <strong>2. Distance formula: </strong>
    \[\sqrt{(x_1-x_2)^2+(y_1-y_2)^2+(z_1-z_2)^2}\]
    <strong>3. Distance of P from coordinate axes: </strong>
    \[PA= \sqrt{y^2+z^2}, \; PB= \sqrt{z^2+x^2}, \; PC= \sqrt{x^2+y^2}\]
    <strong>4. Section Formula: </strong>
    \[x=\frac{mx_2+nx_1}{m+n}, \; y=\frac{my_2+ny_1}{m+n}, \; z=\frac{mz_2+nz_1}{m+n}\]
    \[Mid \; point: \; x=\frac{x_1+x_2}{2}, \; y=\frac{y_1+y_2}{2}, \; z=\frac{z_1+z_2}{2}\]
    <strong>5. Direction Cosines And Direction Ratios: </strong>
    \[A. \; Direction \; cosines: \; Let \; \alpha, \; \beta, \; \gamma \; be \; the \; angles \; which
    \; a \; directed \; line \;
    makes \; with \; the \; positive \; directions \; of \; the \; axes \; of \; x, \; y \; and \; z \;
    respectively, \]
    \[then \; cos \alpha , \; cos \beta, \; cos \gamma \; are \; called \; the \; direction \; cosines
    \;
    of \; the \; line. \; The \;
    direction \; cosines \; are \; usually \; denoted \; by \; ( \ell , \; m, \; n). \] \[Thus \; \ell =
    cos \alpha , \; m = cos
    \beta, \; n = cos \gamma\]
    \[B. \; If \; \ell, \; m, \; n \; be \; the \; direction \; cosines \; of \; a \; line, \; then \;
    \ell ^2 + m^2 + n^2=1\]
    \[C. \; Direction \; ratios: \; Let \; a, \; b, \; c \; be \; proportional \; to \; the \; direction
    \; cosines \;
    \ell , \; m, \; n \; then \; a, \; b, \; c \; are \; called \; the \; direction \; ratios\]
    \[D. \; If \ell , \; m, \; n \; be \; the \; direction \; cosines \; and \; a, \; b, \; c \; be \;
    the \; direction \; ratios \;
    of \; a \; vector, \; then\]
    \[\ell = \pm \frac{a}{\sqrt{a^2+b^2+c^2}}, \; m= \pm \frac{b}{\sqrt{a^2+b^2+c^2}}, \; n= \pm
    \frac{c}{\sqrt{a^2+b^2+c^2}}\]
    \[E. \; If \; the \; coordinates \; P \; and \; Q \; are \; (x_1, \; y_1, \; z_1) \; and \; (x_2, \;
    y_2, \; z_2) \; then \; the \; direction \; ratios \; of \; line \; PQ \; are, \; a = x_2-x_1, \; b
    = y_2-y_1 \; \& \; c = z_2-z_1 \] \[and \; the \; direction \; cosines \; of \; line \; PQ \; are \;
    \ell = \frac{x_2-x_1}{|PQ|}, \; m=\frac{y_2-y_1}{|PQ|}, \; and \; n = \frac{z_2-z_1}{|PQ|}\]
    <strong>6. Angle Between Two Line Segments: </strong>
    \[cos \theta =
    \left|\frac{a_1a_2+b_1b_2+c_1c_2}{\sqrt{a_1^2+b_1^2+c_1^2}\sqrt{a_2^2+b_2^2+c_2^2}}\right|\]
    \[The \; line \; will \; be \; perpendicular \; if \; a_1a_2 +b_1b_2+ c_1c_2=0, \; paralllel \; if
    \; \frac{a_1}{a_2}=\frac{b_1}{b_2}=\frac{c_1}{c_2}\]
    <strong>7. Projection of a line segment on a line: </strong>
    \[If \; P(x_1, y_1, z_1) \; and \; Q(x_2, y_2,z_2) \; then \; the \; projection \; of \; PQ \; on \; a \; line \; having \; diretion \; cosines \; \ell , \; m, \; n \; is \; |\ell (x_2-x_1) + m(y_2-y_1)+ n(z_2-z_1)|\]
    <strong>8. Equation Of A Plane: </strong>
    \[ General \; form: \; ax + by + cz + d = 0, \; where \; a, \; b, \; c \; 
    are \; not \; all \; zero, \;  a, \; b, \; c, \; d \; \in \; R\]
    \[A. \; Normal \; form: \; \ell x +my+nz=p\]
    \[B. \; Plane \; through \; the \; point \; (x_1, y_1, z_1): \; a(x-x_1)+b(y-y_1)+c(z-z_1)=0\]
    \[C. \; Intercept \; form: \; \frac{x}{a}+ \frac{y}{b}+ \frac{z}{c}=1\]
    \[D. \; Vector \; form: (\vec r - \vec a). \vec n =0 \; \; or \; \vec r. \vec n = \vec a. \vec n\]
    \[E. \; Any \; plane \; paralllel \; to \; the \; given \; plane \; ax+by+cz+d=0 \; is \; ax+by+cz+ \lambda =0. \] \[Distance \; between \; ax+by+cz+d_1=0 \; and \; ax+by+cz+d_2=0 \; is = \frac{|d_1-d_2|}{\sqrt{a^2+b^2+c^2}}\]
    \[F. \; Equation \; of \; a \; plane \; passing \; through \; a \; given \; point \; \& \; parallel \; to \; the \; given \; vectors: \]
    \[\vec r= \vec a + \lambda \vec b + \mu \vec c \; (parametric \; form) \; where \; \lambda \; \& \; \mu \; are \; scaler\]
    \[\vec r. (\vec b \times \vec c)= \vec a.(\vec b \times \vec c) \; (non-parametric \; form)\]
    <strong>9. A Plane & A Point: </strong>
    \[A. \; DIstance \; of \; the \; points \; (x',y',z') \; from \; the \; plane \; ax+by+cz+d=0 \; is \; given \; by \; \frac{ax'+by'+cz'+d}{\sqrt{a^2+b^+c^2}}\]
    \[B. \; Length \; of \; the \; perpendicular \; from \; a \; point \; (\vec a) \; to \; plane \; \vec r. \vec n=d \; is \; given \; by \; p=\frac{|\vec a. \vec n-d|}{|\vec n|}\]
    \[C. \; Foot \; (x',y', z') \; of \; perpendicular \; drawn \; from \; the \; point \; (x_1,y_1,z_1) \; to \; the \; plane \; ax+by+cz+d=0 \; is \; given \; by \] \[\frac{x'-x_1}{a}=\frac{y'-y_1}{b}=\frac{z'-z_1}{c}=-\frac{ax_1+by_1+cz_1+d}{a^2+b^2+c^2}\]
    \[D. \; To \; find \; image \; of \; a \; point \; w.r.t. \; a \; plane: \]
    \[Let \; P(x_1,y_1,z_1) \; is \; given \; point \; and \; ax+by+cz+d=0 \; is \; given \; plane. \] \[Let \; (x',y',z') \; is \; the \; image \; point. \; Then \; \frac{x'-x_1}{a}=\frac{y'-y_1}{b}=\frac{z'-z_1}{c}=-2\frac{ax_1+by_1+cz_1+d}{a^2+b^2+c^2}\]
    <strong>10. Angle Between Two Planes: </strong>
    \[cos \theta = \left|\frac{aa'+bb'+cc'}{\sqrt{a^2+b^2+c^2}\sqrt{a'^2+b'^2+c'^2}}\right|\]
    \[Planes \; are \; perpendicular \; if \; aa'+bb'+cc' =0 \; and \; planes \; are \; parallel \; if \; \frac{a}{a'}=\frac{b}{b'}=\frac{c}{c'}\]
    \[The \; angle \; \theta \; between \; the \; planes \; \vec r. \vec n_1 = d_1 \; and \; \vec r. \vec n_2 = d_2 \; is \; given \; by, \; cos \theta = \frac{\vec n_1. \vec n_2}{|\vec n_1|.|\vec n_2|}\]
    \[Planes \; are \; perpendicular \; if \; \vec n_1. \vec n_2 =0 \; \& \; planes \; are \; parallel \; if \; \vec n_1 = \lambda \vec n_2, \lambda \; is \; a \; scaler \; quantitiy\]
    <strong>11. Angle Bisectors: </strong>
    \[A. \; The \; equations \; of \; the \; planes \; bisecting \; the \; angle \; between \; two \; given \; planes \; a_1x+b_1y+c_1z+d_1=0 \; and \; a_2x+b_2y+c_2z+d_2=0 \; are \]
    \[\frac{a_1x+b_1y+c_1z+d_1}{\sqrt{a_1^2+b_1^2+c_1^2}}=\frac{a_2x+b_2y+c_2z+d_2}{\sqrt{a_2^2+b_2^2+c_2^2}}\]
    \[B. \; Bisector \; of \; acute/obtuse \; angle: \; First \; make \; both \; the \; constant \; terms \; positive. \; Then\]
    \[a_1a_2+b_1b_2+c_1c_2 > 0 \implies origin \; lies \; on \; obtuse \; angle\]
    \[a_1a_2+b_1b_2+c_1c_2 < 0 \implies origin \; lies \; on \; acute \; angle\]
    <strong>12. Family of Planes: </strong>
    \[A. \; Any \; plane \; through \; the \; intersection \; of \; a_1x+b_1y+c_1z+d_1=0 \; \& \; a_2x+b_2y+c_2z+d_2=0 \; is \; a_1x+b_1y+c_1z+d_1+\lambda (a_2x+b_2y+c_2z+d_2)=0\]
    \[B. \; The \; equation \; of \; plane \; passing \; through \; the \; intersection \; of \; the \; planes\]
    \[\vec r . \vec n_1= d_1 \; \& \; \vec r. \vec n_2=d_2 \; is \; \vec r. (\vec n_1+ \lambda \vec n_2)= d_1 + \lambda d_2 \; where \; \lambda \; is \; arbitrary \; scalar \; quantitiy\]
    <strong>13. Volume Of A Tetrahedron: </strong>
    \[Volume \; of \; a \; tetrahedron \; with \; vertices \; A(x_1, y_1, z_1), B(x_2, y_2, z_2), C(x_3, y_3, z_3) \; and \; D(x_4, y_4, z_4) \; is \; given \; by \; V = \frac{1}{6}\left|\begin{matrix} x_1 & y_1 & z_1 & 1 \\ x_2 & y_2 & z_2 & 1 \\ x_3 & y_3 & z_3 & 1 \\ x_4 & y_4 & z_4 & 1\end{matrix}\right|\]
    <strong>14. Equation of line: </strong>
    \[A. \; A \; straight \; line \; is \; intersection \; of \; two \; planes. \; It \; is \; reprsented \; by \; two \; planes \; a_1x+b_1y+c_1z+d_1=0 \; and \; a_2x +b_2y+c_2z+d_2=0\]
    \[B. \; Symmetric \; form: \; \frac{x-x_1}{a}= \frac{y-y_1}{b} = \frac{z-z_1}{c}=r\]
    \[C. \; Vector \; equation: \; \vec r = \vec a + \lambda \vec b\]
    \[D. \; Reduction \; of \; cartesian \; form \; of \; equation \; of \; a \; line \; to \; vector \; form \; \& \; vice \; versa\]
    \[\frac{x-x_1}{a}= \frac{y-y_1}{b} = \frac{z-z_1}{c} \implies \vec r = (x_1 \hat i + y_1 \hat j + z_1 \hat k)+ \lambda (a \hat i + b \hat j + c \hat k)\]
    <strong>15. Angle Between A Plane And A Line: </strong>
    \[A. \; If \; \theta \; is \; the \; angle \; between \; line \; \frac{x-x_1}{\ell }= \frac{y-y_1}{m}= \frac{z-z_1}{n} \; and \; the \; plane \; ax+by+cz+d=0, \; then \]
    \[sin \theta = \left|\frac{a \ell + bm+cn}{ \sqrt{(a^2+b^2+c^2)} \sqrt{\ell ^2+ m^2+n^2 } }\right|\]
    \[B. \; Vector \; form: \; If \; \theta \; is \; the \; angle \; between \; a \; line \vec r = (\vec a + \lambda \vec b) \; and \; \vec r. \vec n =d \; then \; sin \theta = \left[\frac{\vec b. \vec n}{|\vec b||\vec n|}\right]\]
    \[C. \; Condition \; for \; perpendicularity \; \frac{\ell }{a}= \frac{m}{b}= \frac{n}{c}, \; \; \vec b \times \vec n=0\]
    \[D. \; Condition \; for \; parallel \; a \ell +bm+cn=0, \; \; \vec b. \vec n=0\]
    <strong>16. Condition For A Line To Lie In A Plane: </strong>
    \[A. \; Cartesian \; form: \; Line \; \frac{x-x_1}{\ell }= \frac{y-y_1}{m}= \frac{z-z_1}{n} \; would \; lie \; in \; a \; plane \; ax+by+cz+d=0, \; if ax_1+by_1+cz_1+d=0 \; \& \; a \ell + bm + cn=0\]
    \[B. \; Vetor \; form: \; Line \; \vec r = \vec a + \lambda \vec b \; would \; lie \; in \; the \; plane \; \vec r. \vec n = d \; if \; \vec b. \vec n =0 \; \& \; \vec a. \vec n =d\]
    <strong>17. Skew Lines: </strong>
    \[A. \; The \; straight \; lines \; which \; are \; not \; parallel \; and \; non-coplanar \; i.e. \; non-intersecting \; are \; called \; skew \; lines\]
    \[\frac{x- \alpha }{\ell }=\frac{y- \beta}{m}= \frac{z- \gamma}{n} \; \& \; \frac{x- \alpha '}{\ell '}= \frac{y- \beta '}{m'}= \frac{z- \gamma '}{n'}\]
    \[If \; \delta = \left|\begin{matrix} \alpha ' - \alpha & \beta ' - \beta & \gamma ' - \gamma \\ \ell & m & n \\ \ell ' & m' & n' \end{matrix}\right| \; \neq \; 0, \; then \; lines \; are \; skew\]
    \[B. \; Shortest \; distance \; formula \; for \; lines \; \vec r = \vec a_1 + \lambda \vec b_1 \; and \; \vec r = \vec a_2 + \lambda \vec b_2 \; is \; d= \left|\frac{(\vec a_2- \vec a_1).(\vec b_1 \times \vec b_2)}{|\vec b_1 \times \vec b_2|}\right|\]
    \[C. \; Vector \; form: \; For \; lines \; \vec r = \vec a_1 + \lambda \vec b_1 \; and \; \vec r = \vec a_2 + \lambda \vec b_2 \; to \; be \; skew \; (\vec b_1 \times \vec b_2).(\vec a_2- \vec a_1) \neq 0\]
    \[D. \; Shortest \; distance \; between \; parallel \; lines \; \vec r = \vec a_1 + \lambda \vec b \; and \; \vec r = \vec a_2 + \mu \vec b \; is \; d= \left|\frac{(\vec a_2- \vec a_1) \times \vec b}{|\vec b|}\right|\]
    \[E. \; Condition \; of \; coplanarity \; of \; two \; lines \; \vec r = \vec a + \lambda \vec b \; and \; \vec r = \vec c + \mu \vec d \; is \; [(\vec a - \vec c).(\vec b \times \vec d)]=0\]
    <strong>18. Sphere: </strong>
    \[General \; equation \; of \; a \; sphere \; is \; x^2+y^2+z^2+2ux + 2vy +2wz +d =0. \; (-u,-v,-w) \; is \; the \; centroid \; and \; \sqrt{u^2+v^2+w^2-d} \; is \; the \; radius \; of \; the \; sphere\]
</p>