<p>
    <strong class="_4a a_active" id="a28" style="color: blueviolet;">1. All equations of
        Ellipse:</strong>
</p>
<table id="ellipse_table">
    <tr>
        <th></th>
        <th>\[\frac{x^2}{a^2}+\frac{y^2}{b^2}=1 \]
            \[[a^2+b^2]\]</th>
        <th>\[\frac{x^2}{b^2}+\frac{y^2}{a^2}=1 \]
            \[[a^2+b^2]\]</th>
        <th>\[\frac{(x-\alpha)^2}{a^2}+\frac{(y-\beta)^2}{b^2}=1 \]
            \[[a^2+b^2]\]</th>
        <th>\[\frac{(x-\alpha)^2}{b^2}+\frac{(y-\beta)^2}{a^2}=1 \]
            \[[a^2+b^2]\]</th>
    </tr>
    <tr>
        <td>\[Major \; axis\]</td>
        <td>\[x-axis\]</td>
        <td>\[y-axis\]</td>
        <td>\[parallel \; to \; x-axis\]</td>
        <td>\[parallel \; to \; y-axis\]</td>
    </tr>
    <tr>
        <td>\[Minor \; axis\]</td>
        <td>\[y-axis\]</td>
        <td>\[x-axis\]</td>
        <td>\[parallel \; to \; y-axis\]</td>
        <td>\[parallel \; to \; x-axis\]</td>
    </tr>
    <tr>
        <td>\[Equation \; of \; major \; axis\]</td>
        <td>\[y=0\]</td>
        <td>\[x=0\]</td>
        <td>\[y=\beta\]</td>
        <td>\[x=\alpha\]</td>
    </tr>
    <tr>
        <td>\[Equation \; of \; minor \; axis\]</td>
        <td>\[x=0\]</td>
        <td>\[y=0\]</td>
        <td>\[x=\alpha\]</td>
        <td>\[y=\beta\]</td>
    </tr>
    <tr>
        <td>\[Length \; of \; major \; axis\]</td>
        <td>\[2a \; units\]</td>
        <td>\[2a \; units\]</td>
        <td>\[2a \; units\]</td>
        <td>\[2a \; units\]</td>
    </tr>
    <tr>
        <td>\[Length \; of \; major \; axis\]</td>
        <td>\[2b \; units\]</td>
        <td>\[2b \; units\]</td>
        <td>\[2b \; units\]</td>
        <td>\[2b \; units\]</td>
    </tr>
    <tr>
        <td>\[Coordinates \; of \; centre\]</td>
        <td>\[(0,0)\]</td>
        <td>\[(0,0)\]</td>
        <td>\[(\alpha,\beta)\]</td>
        <td>\[(\alpha,\beta)\]</td>
    </tr>
    <tr>
        <td>\[Coordinates \; of \; vertices\]</td>
        <td>\[(\pm a,0)\]</td>
        <td>\[(0,\pm a)\]</td>
        <td>\[(\alpha\pm a,\beta)\]</td>
        <td>\[(\alpha,\beta\pm a)\]</td>
    </tr>
    <tr>
        <td>\[Eccentricity\]</td>
        <td>\[e=\sqrt{1-\frac{b^2}{a^2}}\]</td>
        <td>\[e=\sqrt{1-\frac{b^2}{a^2}}\]</td>
        <td>\[e=\sqrt{1-\frac{b^2}{a^2}}\]</td>
        <td>\[e=\sqrt{1-\frac{b^2}{a^2}}\]</td>
    </tr>
    <tr>
        <td>\[Coordinates \; of \; foci\]</td>
        <td>\[(\pm ae,0)\]</td>
        <td>\[(0,\pm ae)\]</td>
        <td>\[(\alpha\pm ae,\beta)\]</td>
        <td>\[(\alpha,\beta \pm ae)\]</td>
    </tr>
    <tr>
        <td>\[Distance \; between \; two \; foci\]</td>
        <td>\[2ae \; unit\]</td>
        <td>\[2ae \; unit\]</td>
        <td>\[2ae \; unit\]</td>
        <td>\[2ae \; unit\]</td>
    </tr>
    <tr>
        <td>\[Length \; of \; latus \; rectum\]</td>
        <td>\[\frac{2b^2}{a} \; unit\]</td>
        <td>\[\frac{2b^2}{a} \; unit\]</td>
        <td>\[\frac{2b^2}{a} \; unit\]</td>
        <td>\[\frac{2b^2}{a} \; unit\]</td>
    </tr>
    <tr>
        <td>\[Coordinates \; of \; the \; four\]
            \[ends \; of \; latera \; recta\]</td>
        <td>\[\left(ae,\frac{b^2}{a}\right),\left(ae,-\frac{b^2}{a}\right),\]
            \[\left(-ae,\frac{b^2}{a}\right),\left(-ae,-\frac{b^2}{a}\right)\]</td>
        <td>\[\left(\frac{b^2}{a},ae\right),\left(-\frac{b^2}{a},ae\right),\]
            \[\left(\frac{b^2}{a},-ae\right),\left(-\frac{b^2}{a},-ae\right)\]</td>
        <td>\[\left(\alpha \pm ae, \beta \pm \frac{b^2}{a}\right)\]</td>
        <td>\[\left(\alpha \pm \frac{b^2}{a}\right), \beta \pm ae\]</td>
    </tr>
    <tr>
        <td>\[Equations \; of \; latera \; recta\]</td>
        <td>\[x=\pm ae\]</td>
        <td>\[y=\pm ae\]</td>
        <td>\[x=\alpha \pm ae\]</td>
        <td>\[y=\beta \pm ae\]</td>
    </tr>
    <tr>
        <td>\[Equations \; of \; directrices\]</td>
        <td>\[x=\pm \frac{a}{e}\]</td>
        <td>\[y=\pm \frac{a}{e}\]</td>
        <td>\[x=\alpha \pm \frac{a}{e}\]</td>
        <td>\[y=\beta \pm \frac{a}{e}\]</td>
    </tr>
    <tr>
        <td>\[Distance \; between \]\[ two \; directrices\]</td>
        <td>\[\frac{2a}{e} \; unit\]</td>
        <td>\[\frac{2a}{e} \; unit\]</td>
        <td>\[\frac{2a}{e} \; unit\]</td>
        <td>\[\frac{2a}{e} \; unit\]</td>
    </tr>
</table>
<p>
    <strong class="_4a" id="a29">2. Auxiliary Circle:</strong>
    \[x^2+y^2=a^2\]
    <strong class="_4a" id="a30">3. Parametric Representation:</strong>
    \[x=acos\theta \; \& \; y=bsin\theta\]
    <strong class="_4a" id="a31">4. Position of a Point w.r.t. an Ellipse:</strong>
    \[The \; point \; P(x_1,y_1) \; lies \; outside, \; inside \; or \; on \; the \; ellipse \;
    accordingly \; as \; \frac{x_1^2}{a^2}+\frac{y_1^2}{b^2}-1 \; > \; or \; < \; or=0 \] <strong class="_4a" id="a32">
        5.Tangents:</strong>
        \[A. \; Slope \; form \; y=mx \pm \sqrt{a^2m^2+b^2}\]
        \[B. \; Point \; form \; \frac{xx_1}{a^2}+\frac{yy_1}{b^2}=1\]
        \[C. \; Parametric \; form \; \frac{xcos\theta}{a}+\frac{ysin\theta}{b}=1\]
        <strong class="_4a" id="a33">6. Normals:</strong>
        \[A. \; At \; the \; point \; P(x_1,y_1) \; is \; \frac{a^2x}{x_1}-\frac{b^2y}{y_1}=a^2-b^2\]
        \[B. \; At \; the \; point \; P(asec\theta,bcosec\theta) \; axsec\theta-bycosec\theta=a^2-b^2\]
        \[C. \; Equation \; of \; normals \; in \; terms \; of \; its \; slope \; 'm' \; are \;
        y=mx-\frac{(a^2-b^2)m}{\sqrt{a^2+b^2m^2}}\]
        <strong class="_4a" id="a34">7. Director Circle:</strong>
        \[x^2+y^2=a^2+b^2\]
</p>