<p>
    <strong class="_11a" id="a69" style="color: blueviolet;">1. Intervals:</strong>
    \[Intervals \; are \; basically \; subsets \; of \; R \; and \; are \; commonly \; used \; in \;
    solving \;
    inequalities \; or \; in \; finding \; domains. \; If \; there \; are \; two \; numbers \; a, \; b
    \in R \]
    \[such \; that \; a \le b, \; we \; can \; define \; four \; types \; of \; intervals \; as \;
    follows: \]
    \[Symbols \; Used:\]
    \[A. \; Open \; interval: \; (a, b) = {x : a < x < b} \; i.e. \; end \; points \; are \; not \; included. \; ( ) \;
        or \; ] [ \] \[B. \; Closed \; interval: \; [a, b]={x : a \leq x \leq b} \; i.e. \; end \; points \; are \; also
        \; included. \; [ ] \; This \; is \; possible \; only \; when \; both \; a \; and \; b \; are \; finite. \] \[C.
        \; Open-closed \; interval: \; (a, b]={x : a < x \leq b} \; ( ] \; or \; ] ] \] \[D. \; Closed - open \;
        interval: \; [a, b)={x : a \leq x < b} \; [ ) \; or \; [ [ \] \[The \; infinite \; intervals \; are \; defined
        \; as \; follows: \] \[A. (a,\infty)={x : x> a} \; \; \; \; \; \; B. [a, \infty) = {x : x \geq a}\]
        \[C. (-\infty, b) = {x : x < b} \; \; \; \; \; \; D. (-\infty, b]={x : x \leq b}\] \[E. (-\infty,\infty)={x : x
            \in R} \] <strong class="_11a" id="a70">2. Properties of
            Modulus:</strong>
            \[For \; any \; a, b \in R\]
            \[|a| \geq 0, |a| = |-a|, \; \; \; \; |a| \geq a, \; \; \; \; |a| \geq -a, \; \; \; \; |ab|
            = |a| |b|,\]
            \[\left|\frac{a}{b}\right|=\frac{|a|}{|b|}, \; \; \; \; |a + b| \leq |a| + |b|, \; \; \; \;
            |a-b| \geq ||a| - |b||\]
            <strong class="_11a" id="a71">3. Trigonometric Functions of Sum or Difference of Two
                Angles:</strong>
            \[A. \; sin (A \pm B) = sinA cosB \pm cosA sinB\]
            \[\therefore 2 sinA cosB = sin(A+B) + sin(A-B) \; and\]
            \[2 cosA sinB = sin(A+B) - sin(A-B)\]
            \[B. \; cos (A \pm B) = cosA cosB - sinA sinB\]
            \[\therefore 2 cosA cosB = cos(A+B) + cos(A-B) \; and\]
            \[2sinA sinB = cos(A-B) - cos(A+B)\]
            \[C. \; sin^2A - sin^2B = cos^2B - cos^2A = sin (A+B). sin (A-B)\]
            \[D. \; cos^2A - sin^2B = cos^2B - sin^2A = cos (A+B). cos (A-B)\]
            \[E. \; cot(A \pm B)=\frac{cotAcotB \pm 1}{cotB \pm cotA}\]
            \[F. \; tan(A+B+C)=\frac{tanA + tanB + tanC - tanA \; tanB \; tanC}{1 - tanA \; tanB - tanB
            \; tanC - tanC \; tanA}\]
            <strong class="_11a" id="a72">4. Factorisation of the Sum or Difference of Two Sines or
                Cosines:</strong>
            \[A. \; sinC + sinD = 2sin\frac{C+D}{2}cos\frac{C-D}{2}\]
            \[B. \; sinC - sinD = 2sin\frac{C-D}{2}cos\frac{C+D}{2}\]
            \[C. \; cosC + cosD = 2cos\frac{C+D}{2}cos\frac{C-D}{2}\]
            \[D. \; cosC - cosD = -2sin\frac{C+D}{2}sin\frac{C-D}{2}\]
            <strong class="_11a" id="a73">5. Multiple and Sub-multiple Angles:</strong>
            \[A. \; cos 2A = cos^2A - sin^2A = 2cos^2A - 1 = 1 - 2 sin^2A; \; \; \; 2
            cos^2\frac{\theta}{2}=1+cos\theta; \; \; \; 2 sin^2\frac{\theta}{2}=1-cos\theta\]
            \[B. \; sin 2A = \frac{2 tanA}{1+tan^2A} \; \; \; cos 2A = \frac{1-tan^2A}{1+tan^2A} \; \;
            \; tan 2A = \frac{2 tanA}{1-tan^2A}\]
            \[C. \; sin 3A = 3 sinA - 4 sin^3A\]
            \[D. \; cos 3A = 4 cos^3A - 3 cosA\]
            \[E. \; tan 3A=\frac{3 tan A - tan^3A}{1 - 3 tan^2 A}\]
            <strong class="_11a" id="a74">6. Important Trigonometric Ratios:</strong>
            \[sin n \pi = 0 ; \; \; \; \; cos n \pi = \pm1 ; \; \; \; \; tan n \pi = 0, \; \; where n
            \in I\]
            <strong class="_11a" id="a75">7. Range of Trigonometric Expression:</strong>
            \[-\sqrt{a^2+b^2} \leq asin \theta + bcos \theta \leq \sqrt{a^2+b^2}\]
            <strong class="_11a" id="a76">8. Sine and Cosine Series:</strong>
            \[sin\alpha + sin(\alpha+\beta) +
            sin(\alpha+2\beta)+.....+sin(\alpha+(n-1)\beta)=\frac{sin\frac{n\beta}{2}}{sin\frac{\beta}{2}}sin\left[\alpha+\frac{n-1}{2}\beta\right]\]
            \[cos\alpha + cos(\alpha+\beta) +
            cos(\alpha+2\beta)+.....+cos(\alpha+(n-1)\beta)=\frac{sin\frac{n\beta}{2}}{sin\frac{\beta}{2}}cos\left[\alpha+\frac{n-1}{2}\beta\right]\]
            <strong class="_11a" id="a77">9. Trigonometric Equations:</strong>
            \[Principal Solutions:\]
            \[Solutions \; which \; lie \; in \; the \; interval \; [0, 2\pi) \; are \; called \;
            Principal \; solutions\]
            \[General Solution :\]
            \[A. \; sin \theta = sin \alpha \implies \theta = n \pi + (-1)^n \alpha \; where \; \alpha
            \in \left[-\frac{\pi}{2},\frac{\pi}{2}\right], \; n \in I\]
            \[B. \; cos \theta = cos \alpha \implies \theta = 2 n \pi \pm \alpha \; where \; \alpha \in
            [0,\pi], \; n \in I\]
            \[C. \; tan \theta = tan \alpha \implies \theta = n \pi + \alpha \; where \; \alpha \in
            \left[-\frac{\pi}{2},\frac{\pi}{2}\right], \; n \in I\]
            \[D. \; sin^2 \theta = sin^2 \alpha, \; cos^2 \theta = cos^2 \alpha, \; tan^2 \theta = tan^2
            \alpha, \; \implies \theta = n\pi\pm\alpha\]
</p>