<p>
    <strong class="_9a a_active" id="a57" style="color: blueviolet;">1. Introduction:</strong>
    \[If \; f \; \& \; g \; are \; functions \; of \; x \; such \; that \; g'(x) \; = \; f(x) \; then,
    \; \int f(x)dx \; = \; g(x) \; + \; c \; \Leftrightarrow \; \frac{d}{dx}{g(x)+c} \; = \; f(x), \;
    where \; c \; is \; called \; the \; constant \; of \; integration\]
    <strong class="_9a" id="a58">2. Standard Formula:</strong>
    \[A. \; \int(ax+b)^ndx=\frac{(ax+b)^{n+1}}{a(n+1)}+c, \; n \neq -1\]
    \[B. \; \int\frac{dx}{ax+b}=\frac{1}{a} \ell n (ax+b) +c\]
    \[C. \; \int e^{ax+b} dx=\frac{1}{a}e^{ax+b}+c\]
    \[D. \int a^{px+q} dx=\frac{1}{p}\frac{a^{px+q}}{\ell na}+c, \; a>0\]
    \[E. \int sin(ax+b)dx=-\frac{1}{a}cos (ax + b) + c\]
    \[F. \int cos (ax + b) dx=\frac{1}{a}sin (ax + b) + c\]
    \[G. \int tan(ax + b) dx=\frac{1}{a}\ell n \; sec(ax + b) + c\]
    \[H. \int cot(ax + b) dx=\frac{1}{a}\ell n \; sin(ax + b) + c\]
    \[I. \int sec^2 (ax + b) dx=\frac{1}{a}tan (ax + b) + c\]
    \[J. \int cosec^2(ax + b) dx=-\frac{1}{a}cot (ax + b) + c\]
    \[K. \int secx dx=\ell n (secx + tanx) + c \; OR \; \ell n tan
    \left(\frac{\pi}{4}+\frac{x}{2}\right)+c\]
    \[L. \int cosec x dx = \ell n (cosecx - cotx) + c, \; OR \; \ell n tan\frac{x}{2}+c, \; OR \; -\ell
    n (cosecx + cotx) + c\]
    \[M. \int \frac{dx}{\sqrt{a^2-x^2}}=sin^{-1}\frac{x}{a}+c\]
    \[N. \int \frac{dx}{a^2+x^2}=\frac{1}{a}tan^{-1}\frac{x}{a}+c\]
    \[O. \int \frac{dx}{|x|\sqrt{x^2-a^2}}=\frac{1}{a}sec^{-1}\frac{x}{a}+c\]
    \[P. \int \frac{dx}{\sqrt{x^2+a^2}}=\ell n\left[x+\sqrt{x^2+a^2}\right]+c\]
    \[Q. \int \frac{dx}{\sqrt{x^2-a^2}}=\ell n\left[x+\sqrt{x^2-a^2}\right]+c\]
    \[R. \int \frac{dx}{a^2-x^2}=\frac{1}{2a}\ell n\left|\frac{a+x}{a-x}\right|\]
    \[S. \int \frac{dx}{x^2-a^2}=\frac{1}{2a}\ell n\left|\frac{x-a}{x+a}\right|\]
    \[T. \int \sqrt{a^2-x^2}dx=\frac{x}{2}\sqrt{a^2-x^2}+\frac{a^2}{2}sin^{-1}\frac{x}{a}+c\]
    \[U. \int \sqrt{x^2+a^2}dx=\frac{x}{2}\sqrt{x^2+a^2}+\frac{a^2}{2}\ell
    n\left[\frac{x+\sqrt{x^2+a^2}}{a}\right] + c\]
    \[V. \int \sqrt{x^2-a^2}dx=\frac{x}{2}\sqrt{x^2-a^2}-\frac{a^2}{2}\ell
    n\left[\frac{x+\sqrt{x^2-a^2}}{a}\right] + c\]
    <strong class="_9a" id="a59">3. Integration by Subsitutions:</strong>
    \[If \; we \; subsitute \; f(x) \; = \; t, \; then \; f'(x) dx = dt\]
    <strong class="_9a" id="a60">4. Integration by Part :</strong>
    \[\int(f(x)g(x))dx=f(x)\int (g(x))dx-\int \left(\frac{d}{dx}(f(x))\int (g(x))dx\right)dx\]
    <strong class="_9a" id="a61">5. Integration of type A:</strong>
    \[\int \frac{dx}{ax^2+bx+c}, \; \int \frac{dx}{\sqrt{ax^2+bx+c}}, \; \int \sqrt{ax^2+bx+c}dx\]
    \[Make \; the \; substitution \; x+\frac{b}{2a}=t\]
    <strong class="_9a" id="a62">6. Integration of type B:</strong>
    \[\int \frac{px+q}{ax^2+bx+c}dx, \; \int \frac{px+q}{\sqrt{ax^2+bx+c}}dx, \; \int
    (px+q)\sqrt{ax^2+bx+c}dx\]
    \[Make \; the \; substitution \; x+\frac{b}{2a}=t, \]\[ then \; split \; the \; integral \; as \;
    some \; of \; two \;
    integrals \; one \; containing \; the \; linear \; term \; and \; the \; other \; containing \;
    constant \;
    term\]
    <strong class="_9a" id="a63">7. Integration of type C:</strong>
    \[\int \frac{x^2+1}{x^4+Kx^2+1}dx \; \; where \; K \; is \; any \; constant\]
    \[Divide \; Nr \; and \; Dr \; by \; x^2 \; \& \; x\pm \frac{1}{x}=t\]
    <strong class="_9a" id="a64">8. Integration of type D:</strong>
    \[\int \frac{dx}{(ax+b)\sqrt{px+q}}, \; OR \; \int \frac{dx}{(ax^2+bx+c)\sqrt{px+q}} \; \; \; Put \;
    px+q=t^2\]
    <strong class="_9a" id="a65">9. Integration of type E:</strong>
    \[\int \frac{dx}{(ax+b)\sqrt{px^2+qx+r}}, \; \; \; Put \; ax + b=\frac{1}{t}\]
    \[\int \frac{dx}{(ax^2+b)\sqrt{px^2+q}}, \; \; \; Put \; x=\frac{1}{t}\]
    <strong class="_9a" id="a66">10. Integration of trigonometric functions:</strong>
    \[A. \int \frac{dx}{a+bsin^2 x}, \; OR \; \int \frac{dx}{a+bcos^2 x}, \; OR \; \int \frac{dx}{asin^2
    x+bsinxcosx+ccos^2 x} \; \; \; Put \; tanx=t\]
    \[B. \int \frac{dx}{a+bsin x}, \; OR \; \int \frac{dx}{a+bcos x}, \; OR \; \int
    \frac{dx}{a+bsinx+ccosx} \; \; \; Put \; tan\frac{x}{2}=t\]
    \[C. \int \frac{a.cos x b.sinx c}{\ell .cos x m.sin x n}dx \; \; \; Express \; Nr \; \equiv \;
    A(Dr)+B\frac{d}{dx}(Dr)+c \; \& \; proceed\]
</p>