<p>
    <strong>1. Principal Values & Domains of Inverse Trigonometric/Circular Functions: </strong>
</p>
<table>
    <tr>
        <th>Function</th>
        <th>Domain</th>
        <th>Range</th>
    </tr>
    <tr>
        <td>\[y=sin^{-1}x\]</td>
        <td>\[-1 \leq x \leq 1\]</td>
        <td>\[-\frac{\pi}{2} \leq y \leq \frac{\pi}{2}\]</td>
    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
</table>