<p>
    <strong class="_6a a_active" id="a41" style="color: blueviolet;">1. Limit of a function f(x) is said
        to exist as x tends to a when,</strong>
    \[\lim_{h\rightarrow0^+}f(a-h)=\lim_{h\rightarrow0^+}f(a+h)=some \; finite \; value \; M\]
    <strong class="_6a" id="a42">2. Indeterminant Forms:</strong>
    \[\frac{0}{0},\frac{\infty}{\infty},0\times\infty,\infty-\infty,\infty^0,0^0, \; and \; 1^\infty\]
    <strong class="_6a" id="a43">3. Standard Limits:</strong>
    \[A. \;
    \lim_{x\rightarrow0}\frac{sinx}{x}=\lim_{x\rightarrow0}\frac{tanx}{x}=\lim_{x\rightarrow0}\frac{sinx^{-1}}{x}
    \\
    =\lim_{x\rightarrow0}\frac{tanx^{-1}}{x}=\lim_{x\rightarrow0}\frac{e^x-1}{x}=\lim_{x\rightarrow0}\frac{\ell
    n(1+x)}{x}=1\]
    \[B. \; \lim_{x\rightarrow0}(1+x)^{1/x}=\lim_{x\rightarrow\infty}\left(1+\frac{1}{x}\right)^x=e\]
    \[C. \; \lim_{x\rightarrow0}\frac{a^x-1}{x}=log_ea, \; a>0\]
    \[D. \; \lim_{x\rightarrow a}\frac{x^n-a^n}{x-a}=na^{n-1}\]
    <strong class="_6a" id="a44">4. Limits Using Expansion:</strong>
    \[A. \; a^x=1+\frac{x\ell na}{1!}+\frac{x^2\ell n^2a}{2!}+\frac{x^3\ell n^3a}{3!}+....., \; a>0\]
    \[B. \; e^x=1+\frac{x}{1!}+\frac{x^2}{2!}+\frac{x^3}{3!}+.....\]
    \[C. \; \ell n(1+x)=x-\frac{x^2}{2}+\frac{x^3}{3}-\frac{x^4}{4}+..... \; for \; -1 < x \le 1\] \[D. \;
        sinx=x-\frac{x^3}{3!}+\frac{x^5}{5!}-\frac{x^7}{7!}+.....\] \[E. \;
        cosx=1-\frac{x^2}{2!}+\frac{x^4}{4!}-\frac{x^6}{6!}+.....\] \[F. \; tanx=x+\frac{x^3}{3}+\frac{2x^5}{15}+.....\]
        \[G. \; for \; \left|x\right| < 1, \; n \in
        R(1+x)^n=1+nx+\frac{n(n-1)}{1.2}x^2+\frac{n(n-1)(n-2)}{1.2.3}x^3+.....\infty\] </p>