<p>
    <strong class="_3a a_active" id="a24" style="color: blueviolet;">1. All equations of
        Parabola:</strong>
</p>
<table id="parabola_table">
    <tr>
        <th>Equation of parabola</th>
        <th>Coordinates of vertex</th>
        <th>Axis of parabola</th>
        <th>Coordinates of focus</th>
        <th>Length of latus rectum</th>
        <th>Equation of directrix</th>
    </tr>
    <tr>
        <td>\[y^2=4ax\;(a>0)\]</td>
        <td>\[(0,0)\]</td>
        <td>\[Positive \; x-axis\]</td>
        <td>\[(a,0)\]</td>
        <td>\[4a\]</td>
        <td>\[x+a=0\]</td>
    </tr>
    <tr>
        <td>\[y^2=-4ax\;(a>0)\]</td>
        <td>\[(0,0)\]</td>
        <td>\[Negative \; x-axis\]</td>
        <td>\[(-a,0)\]</td>
        <td>\[4a\]</td>
        <td>\[x-a=0\]</td>
    </tr>
    <tr>
        <td>\[x^2=4ay\;(a>0)\]</td>
        <td>\[(0,0)\]</td>
        <td>\[Positive \; y-axis\]</td>
        <td>\[(0,a)\]</td>
        <td>\[4a\]</td>
        <td>\[y+a=0\]</td>
    </tr>
    <tr>
        <td>\[x^2=-4ay\;(a>0)\]</td>
        <td>\[(0,0)\]</td>
        <td>\[Negative \; y-axis\]</td>
        <td>\[(0,-a)\]</td>
        <td>\[4a\]</td>
        <td>\[y-a=0\]</td>
    </tr>
    <tr>
        <td>\[(y-\beta)^2=4a(x-\alpha)\]</td>
        <td>\[(\alpha,\beta)\]</td>
        <td>\[Parallel \; to \; x-axis\]</td>
        <td>\[(a+\alpha,\beta)\]</td>
        <td>\[4a\]</td>
        <td>\[x+a=\alpha\]</td>
    </tr>
    <tr>
        <td>\[(x-\alpha)^2=4a(y-\beta)\]</td>
        <td>\[(\alpha,\beta)\]</td>
        <td>\[Parallel \; to \; y-axis\]</td>
        <td>\[(\alpha,a+\beta)\]</td>
        <td>\[4a\]</td>
        <td>\[y+a=\beta\]</td>
    </tr>
</table>
<p>
    <strong class="_3a" id="a25">2. Parametric represention:</strong>
    \[x=at^2 \; \& \; y=2at\]
    <strong class="_3a" id="a26">3. Tangents to the Parabola:</strong>
    \[For \; parabola \; y^2=4ax, \\ A. \; Slope \; form \; y = mx + \frac{a}{m} (m\neq0)\]
    \[B. \; Parametric \; form \; ty=x+at^2\]
    \[C. \; Point \; form \; T=0\]
    <strong class="_3a" id="a27">4. Normals to the Parabola:</strong>
    \[A. \; (y-y_1)=-\frac{y_1}{2a}(x-x_1) \; at \; (x_1,y_1)\]
    \[B. \; y = (mx - 2am - am^3) \; at \; (am^2,-2am)\]
    \[C. \; (y+tx)=(2at+at^3) \; at \; (at^2,2at)\]
</p>