<p>
    <strong>1. Quadratic Equation:</strong>
    \[ax^2+bx+c=0, \; \; \; a\neq 0\]
    \[x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}, \; the \; expression \; b^2 - 4 a c = D \; is \; called \;
    discriminant \; of \; quadratic \; equation\]
    \[If \; \alpha, \beta \; are \; the \; roots, \; then \; \; A. \; \alpha + \beta = -\frac{b}{a}, \;
    \; B. \; \alpha\beta=\frac{c}{a}\]
    \[A \; quadratic \; equation \; whose \; roots \; are \; \alpha \; \& \; \beta, \; is \; (x -\alpha)
    (x -\beta) = 0 \; i.e. \; x^2 - (\alpha + \beta) x + \alpha\beta = 0\]
    <strong>2. Nature of Roots:</strong>
    \[Consider \; the \; quadratic \; equation, \; ax^2+ bx + c = 0 \; having \; \alpha, \; \beta \; as
    \; its \; roots; \; \; \; D = b^2 - 4ac \; then\]
    <img src="../../resourses/discriminant.png">
    <br><strong>3. Common Roots:</strong>
    \[Consider \; two \; quadratic \; equations \; a_1x^2+ b_1x + c_1= 0 \; \& \; a_2x^2+ b_2x + c_2=
    0\]
    \[A. \; If \; two \; quadratic \; equations \; have \; both \; roots \; common, \; then \;
    \frac{a_1}{a_2}=\frac{b_1}{b_2}=\frac{c_1}{c_2}\]
    \[B. \; If \; only \; one \; root \; \alpha \; is \; common, \; then \; \; \; \alpha =
    \frac{c_1a_2-c_2a_1}{a_1b_2-a_2b_1} = \frac{b_1c_2-b_2c_1}{c_1a_2-c_2a_1}\]
    <strong>4. Range of Quadratic Expression:</strong>
    \[If \; f(x)=ax^2+bx+c \; range \; in \; restricted \; domain: Given \; x \in [x_1,x_2]\]
    \[A. \; If \; -\frac{b}{2a} \notin [x_1,x_2] \; then, f(x) \in [min(f(x_1),f(x_2)), \;
    max(f(x_1),f(x_2))]\]
    \[B. \; If \; -\frac{b}{2a} \in [x_1,x_2] \; then, f(x) \in [min(f(x_1),f(x_2),-\frac{D}{4a}), \;
    max(f(x_1),f(x_2),-\frac{D}{4a})]\]
    <strong>5. Location of Roots:</strong>
    \[Let \; f(x) \; = ax² + bx + c, \; where \; a > 0 \; \& a,b,c \in R\]
    \[A. \; Conditions \; for \; both \; the \; roots \; of \; f(x) = 0 \; to \; be \; greater \; than
    \; aspecified \; number \; 'x_0' \; are \; b^2 - 4ac = 0; \; f(x_0) > 0 \; \& (- b/2a) > x0\]
    \[B. \; Conditions \; for \; both \; the \; roots \; of \; f(x) = 0 \; to \; be \; smaller \; than
    \; aspecified \; number \; 'x_0' \; are \; b^2 - 4ac = 0; \; f(x_0) > 0 \; \& (- b/2a) < x0\] \[C. \; Conditions \;
        for \; both \; the \; roots \; of \; f(x)=0 \; to \; lie \; on \; either \; side \; of \; the \; number \; 'x_0'
        \; is \; f(x_0) < 0\] \[D. \; Conditions \; for \; both \; the \; roots \; of \; f(x)=0 \; to \; be \; confined
        \; between \; the \; numbers \; x_1 \; and \; x_2, (x_1 < x_2) \] \[are \; b^2-4ac \geq 0; \; f(x_1)>0; \;
        f(x_2)>0 \; and \;
        x_1<(-\frac{b}{2a}) < x_2\] \[E. \; Conditions \; for \; both \; the \; roots \; of \; f(x)=0 \; to \; lie \; in
            \; the \; interval \; (x_1,x_2) \; i.e. \; x_1 < x < x_2 \; is \; f(x_1).f(x_2) < 0\] </p>