<p><strong class="_1a a_active" id="a1" style="color: blueviolet;">1. Distance Formula:</strong>
    \[d = \sqrt{(x_1-x_2)^2+(y_1-y_2)^2}\]
    <strong class="_1a" id="a2">2. Section Formula:</strong>
    \[x = \frac{mx_2 \pm nx_1}{m \pm n};y = \frac{my_2 \pm ny_1}{m \pm n}\]
    <strong class="_1a" id="a3">3. Centroid, Incentre & Excentre:</strong>
    <br><br>
    \[A. \; Centroid \; G\left(\frac{x_1+x_2+x_3}{3},\frac{y_1+y_2+y_3}{3}\right)\]
    \[B. \; Incentre \; I\left(\frac{ax_1+bx_2+cx_3}{a+b+c},\frac{ay_1+by_2+cy_3}{a+b+c}\right)\]
    \[C. \; Excentre \; I_1\left(\frac{-ax_1+bx_2+cx_3}{-a+b+c},\frac{-ay_1+by_2+cy_3}{-a+b+c}\right)\]
    <strong class="_1a" id="a4">4. Area of a Triangle:</strong>
    \[\Delta ABC = \frac{1}{2}\left|\begin{array}ax_1 & y_1 & 1 \\ x_2 & y_2 & 1 \\ x_3 & y_3 & 1
    \end{array}\right|\]
    <strong class="_1a" id="a5">5. Slope Formula:</strong><br>
    \[Line \; Joining \; two \; points \; (x_1,y_1) \; \& \; (x_2,y_2),\;m = \frac{y_1-y_2}{x_1-x_2}\]
    <strong class="_1a" id="a6">6. Condition of collinearity of three points:</strong>
    \[\left|\begin{array}ax_1 & y_1 & 1 \\ x_2 & y_2 & 1 \\ x_3 & y_3 & 1 \end{array}\right| = 0\]
    <strong class="_1a" id="a7">7. Angle between two straight lines</strong>
    \[tan\theta = \left|\frac{m_1-m_2}{1+m_1m_2}\right|\]
    <!-- </p>
<p> -->
    <strong class="_1a" id="a8">8. Two Lines:</strong>
    \[Let \; ax + by + c = 0 \; and \; a'x + b'y + c' = 0 \; are \; two \; lines, \; then\]
    \[A. \; parallel \; if \; \frac{a}{a'}=\frac{b}{b'}\neq\frac{c}{c'}\]
    \[B. \; Distance \; between \; two \; parallel \; lines \; =
    \left|\frac{c_1-c_2}{\sqrt{a^2+b^2}}\right|\]
    \[C.\; Perpendicular:\;If\;aa' + bb' = 0\]
    <strong class="_1a" id="a9">9. A point and lines:</strong>
    \[A. \; Distance \; between \; point \; and \; line \; = \left|\frac{ax_1 + by_1 + c}{\sqrt{a^2 +
    b^2}}\right|\]
    \[B. \; Reflection \; of \; a \; point \; about \; a \; line: \frac{x - x_1}{a} = \frac{y - y_1}{b}
    = - 2 \frac{ax_1+by_1+c}{a^2+b^2}\]
    \[C. \; Foot \; of \; the \; perpendicular \; from \; a \; point \; on \; the \; line \; is:\]
    \[\frac{x - x_1}{a} = \frac{y - y_1}{b} = - \frac{ax_1+by_1+c}{a^2+b^2}\]
    <strong class="_1a" id="a10">10. Bisectors of the angles between two lines:</strong>
    \[\frac{ax+by+c}{\sqrt{a^2+b^2}} = \pm \frac{a'x+b'y+c'}{\sqrt{a'^2+b'^2}}\]
    <strong class="_1a" id="a11">11. Condition of Concurrency:</strong>
    \[of \; three \; straight \; lines \; a_1x+ b_1y + c_1= 0, i = 1,2,3 \; is \left|\begin{array}aa_1 &
    b_1 & c_1 \\ a_2 & b_2 & c_2 \\ a_3 & b_3 & c_3 \end{array}\right| = 0\]
    <strong class="_1a" id="a12">12. A pair of straight lines through origin:</strong>
    \[ax^2 + 2hxy + by^2 = 0\]
    \[If \; \theta \; is \; acute \; angle \; between \; the \; pair \; of \; the \; straight \; lines,
    \; then \; tan\theta = \left|2\frac{\sqrt{h^2 - ab}}{a+b}\right|\]
</p>