<p>
    <strong>1. Sine Rule: </strong>
    \[\frac{a}{sinA}= \frac{b}{sinB}= \frac{c}{sinC}\]
    <strong>2. Cosine Formula: </strong>
    \[A. \; cosA=\frac{b^2+c^2-a^2}{2bc} \; \; \; C. \; cosB = \frac{c^2+a^2-b^2}{2ca} \; \; \; C. \; cosC=
    \frac{a^2+b^2-c^2}{2ab}\]
    <strong>3. Projection Formula: </strong>
    \[A. \; a= b.cosC+c.cosB \; \; \; B. \; b=c.cosA+a.cosC \; \; \; C. \; c=a.cosB+bcosA\]
    <strong>4. Napier's Analogy - tangent rule: </strong>
    \[A. \; tan \frac{B-C}{2}=\frac{b-c}{b+c}cot\frac{A}{2} \; \; \; B. \; tan
    \frac{C-A}{2}=\frac{c-a}{c+a}cot\frac{B}{2} \; \; \; C. \; tan \frac{A-B}{2}=\frac{a-b}{a+b}cot\frac{C}{2}\]
    <strong>5. Trigonometric Functions of Half Angles: </strong>
    \[A. \; sin \frac{A}{2}=\sqrt{\frac{(s-b)(s-c)}{bc}} \; \; \; sin \frac{B}{2}=\sqrt{\frac{(s-c)(s-a)}{ca}} \; \; \;
    sin \frac{C}{2}=\sqrt{\frac{(s-a)(s-b)}{ab}}\]
    \[B. \; cos \frac{A}{2}=\sqrt{\frac{s(s-a)}{bc}} \; \; \; cos \frac{B}{2}=\sqrt{\frac{s(s-b)}{ca}} \; \; \; cos
    \frac{C}{2}=\sqrt{\frac{s(s-c)}{ab}}\]
    \[C. \; tan \frac{A}{2}= \sqrt{\frac{(s-b)(s-c)}{s(s-a)}}= \frac{\delta}{s(s-a)} \; where \; s = \frac{a+b+c}{2} \;
    is \; semi-perimeter \; of \; triangle\]
    \[D. \; sinA= \frac{2}{bc} \sqrt{s(s-a)(s-b)(s-c)}= \frac{2 \delta}{bc}\]
    <strong>6. Area of Triangle: </strong>
    \[\delta = \frac{1}{2} absinC= \frac{1}{2} bcsinA = \frac{1}{2} casinB = \sqrt{s(s-a)(s-b)(s-c)}\]
    <strong>7. m-n Rule: </strong>
    \[If \; BD:DC = m:n, \; then \]
    \[(m+n)cot \theta = m cot \alpha - n cot \beta = ncot B - m cot C\]
    <img src="./resourses/tri.jpg">
    <strong>8. Radius of Circumcircle: </strong>
    \[R=\frac{a}{2sinA}= \frac{b}{2sinB}= \frac{c}{2sinC}= \frac{abc}{4 \delta}\]
    <strong>9. Radius of The Incircle: </strong>
    \[A. \; r=\frac{\delta}{s} \; \; \; B. \; r=(s-a)tan \frac{A}{2}=(s-b)tan \frac{B}{2} =(s-c)tan \frac{C}{2}\]
    \[C. \; r=4Rsin\frac{A}{2}sin\frac{B}{2}sin{C}{2}\]
    <strong>10. Radius of The Ex- Circles: </strong>
    \[A. \; r_1=\frac{\delta}{s-a} \; \; \; r_2=\frac{\delta}{s-b} \; \; \; r_3=\frac{\delta}{s-c}\]
    \[B. \; r_1=stan\frac{A}{2} \; \; \; r_2 = stan\frac{B}{2} \; \; \; r_3 = stan \frac{C}{2}\]
    \[C. \; r=4Rsin\frac{A}{2}sin\frac{B}{2}sin{C}{2}\]
    <strong>11. Length of Angle Bisectors, Medians & Altitudes: </strong>
    \[A. \; Length \; of \; angle \; bisector \; from \; the \; angle A = \beta _a = \frac{2bc \; cos
    \frac{A}{2}}{b+c}\]
    <img src="./resourses/tri1.png">
    \[B. \; Length \; of \; median \; from \; the \; angle \; A = m_a= \frac{1}{2}\sqrt{2b^2+2c^2-a^2}\]
    \[C. \; Length \; of \; altitude \; from \; the \; angle \; A = A_a = \frac{2 \delta}{a}\]
    <strong>12. Orthocentre and Pedal Triangle: </strong>
    \[The \; triangle \; KLM \; which \; is \; formed \; by \; joining \; the \; feet \; of \; the \; altitudes \; is \;
    called \; the \; Pedal \; Triangle\]
    <img src="./resourses/tri2.png">
    \[A. \; Its \; angles \; are \; \pi - 2A, \; \pi - 2B, \; \pi - 2C\]
    \[B. \; Its \; sides \; are \; a cosA= Rsin2A, \; bcosB = Rsin 2B \; and \; ccosC = Rsin 2C\]
    \[C. \; Circumradii \; of \; the \; triangle \; PBC, \; PCA, \; PAB \; and \; ABC \; are \; equal\]
    <strong>13. Excentral Triangle: </strong>
    \[The \; triangle \; formed \; by \; joining \; the \; three \; excentres \; I_1, \; I_2 \; and \; I_3 \; of \;
    \delta ABC \; is \; called \; the \; excentral \; or \; excentric \; triangle\]
    \[A. \; \delta ABC \; is \; the \; pedal \; triangle \; of \; the \; \delta I_1I_2I_3\]
    \[B. \; Its \; angles \; are \; \frac{\pi}{2}-\frac{A}{2}, \; \frac{\pi}{2}-\frac{B}{2}, \;
    \frac{\pi}{2}-\frac{C}{2}\]
    \[C. \; Its \; sides \; are \; 4Rcos \frac{A}{2}, \; 4Rcos \frac{B}{2}, \; 4Rcos \frac{C}{2}\]
    \[D. \; II_1=4Rsin \frac{A}{2}, \; II_2=4Rsin \frac{B}{2}, \; II_3=4Rsin \frac{C}{2}\]
    \[E. \; Incentre \; I \; of \; \delta ABC \; is \; the \; orthocentre \; of \; the \; excentral \; \delta
    I_1I_2I_3\]
    <strong>14. Distance Between Special Points: </strong>
    \[A. \; Distance \; between \; circumcentre \; and \; orthocentre, \; OH^2=R^2(1-8.cosA.cosB.cosC)\]
    \[B. \; Distance \; between \; circumcentre \; and \; incentre, \;
    OI^2=R^2(1-8.sin\frac{A}{2}.\frac{B}{2}.\frac{C}{2})= R^2-2Rr\]
    \[C. \; Distance \; between \; circumcentre \; and \; centroid, \; OG^2=R^2-\frac{1}{9}(a^2+b^2+c^2)\]
</p>