<p>
    <strong>1. Position vector of a point: </strong>
    \[Let \; O \; be \; a \; fixed \; origin, \; then \; the \; postion \; vector \; of \; a \; point \;
    P \; is \; the \; vector \; \overrightarrow{OP}. \; If \; \vec a \; and \; \vec b \; are \; positon
    \; vector \; of two \; points \; A \; and \; B, \; then\]
    \[\overrightarrow{AB} = \vec b - \vec a = p.v. \; of \; B - p.v. \; of \; A\]
    \[Distance \; between \; the \; two \; points \; A(\vec a) \; and B(\vec b) \; is \; AB = |\vec
    a-\vec b|\]
    \[\vec r = \frac{n \vec a + m \vec b}{m+n}. \; Mid \; point \; of AB = \frac{\vec a+ \vec b}{2}\]
    <strong>2. Scaler Product Of Two Vectors: </strong>
    \[\vec a. \vec b = |\vec a||\vec b|cos \theta, \; where |\vec a|, \; |\vec b| \; are \; magnitude \;
    of \; \vec a \; and \; \vec b \; respectively \; and \; \theta \; is \; angle \; between \; \vec a
    \; and \; \vec b\]
    \[A. \; i.i=j.j=k.k=1, \; \; \; i.j=j.k=k.i=0\]
    \[B. \; Projection \; of \; \vec a \; on \; \vec b \; = \frac{\vec a. \vec b}{|\vec b|}\]
    \[C. If \; \vec a = a_1i+a_2j+a_3k \; \; \& \; \; \vec b = b_1i+b_2j+b_3k \; \; then \; \; \vec a.
    \vec b = a_1b_1+a_2b_2+a_3b_3\]
    \[D. \; The \; angle \; \phi \; between \; \vec a \; \& \; \vec b \; is \; given \; by \; cos \phi =
    \frac{\vec a. \vec b}{|\vec a||\vec b|}, 0 \leq \phi \leq \pi\]
    \[E. \vec a. \vec b =0 \implies \vec a \perp \vec b\]
    <strong>3. Vector Product Of Two Vectors: </strong>
    \[A. \; If \vec a \; \& \; \vec b \; are \; two \; vectors \; \& \; \theta \; is \; the \; angle \;
    between \; them \; then \; \vec a \times \vec b = |\vec a||\vec b|sin \theta \vec n,\]
    \[where \; \vec n \; is \; the \; unit \; vector \; perpendicular \; to \; both \; \vec a \; \& \;
    \vec b \; such \; that \; \vec a, \; \vec b, \; \& \; \vec n \; forms \; a \; right \; handed \;
    screw \; system\]
    \[B. \; Geometrically \; |\vec a \times \vec b| = area \; of \; the \; parallelogram \; whose \; two
    \; adjacent \; sides \; are \; represented \; by \; \vec a \; \& \; \vec b\]
    \[C. \; \hat i \times \hat i = \hat j \times \hat j = \hat k \times \hat k = 0; \; \; \; \hat i
    \times \hat j= \hat k, \; \; \hat j \times \hat k = \hat i, \; \; \hat k \times \hat i = \hat j\]
    \[D. \; If \; \vec a = a_1 \hat i + a_2 \hat j + a_3 \hat k \; \; \& \; \; \vec b = b_1 \hat i + b_2
    \hat j + b_3 \hat k \; then \]
    \[\vec a \times \vec b = \left|\begin{matrix}\hat i & \hat j & \hat k \\ a_1 & a_2 & a_3 \\ b_1 &
    b_2 & b_3\end{matrix}\right|\]
    \[E. \; \vec a \times \vec b = 0 \implies \vec a \; and \; \vec b \; are \; paralllel\]
    \[(\vec a \neq 0, \; \vec b \neq 0) \; i.e. \; \vec a = K \vec b, \; where \; K \; is \; a \;
    scaler\]
    \[F. \; Unit \; vectors \; perpendicular \; to \; the \; plane \; of \; \vec a \; \& \; \vec b \; is
    \; \hat n = \pm \frac{\vec a \times \vec b}{|\vec a \times \vec b|}\]
    \[G. \; If \; \vec a, \; \vec b \; \& \; \vec c \; are \; the \; pv's \; of \; 3 \; points \; A, \;
    B, \; C \; then \; the \; vectors \; area \; of \; triangle \; ABC = \frac{1}{2} [\vec a \times \vec
    b + \vec b \times \vec c + \vec c \times \vec a]\]
    \[H. \; The \; points \; A, B, C \; are \; collinear \; if \; \vec a \times \vec b + \vec b \times
    \vec c + \vec c \times \vec a = 0\]
    \[I. \; Area \; of \; any \; quadrilateral \; whose \; diagonal \; vectors \; are \; \vec d_1 \; \&
    \; \vec d_2 \; is \; given \; by \; \frac{1}{2}| \vec d_1 \times \vec d_2|\]
    \[J. \; Lagrange's \; Identity: \; (\vec a \times \vec b)^2 = |\vec a|^2|\vec b|^2-(\vec a. \vec
    b)^2=\left|\begin{matrix} \vec a. \vec a & \vec a. \vec b \\ \vec a. \vec b & \vec b. \vec
    b\end{matrix}\right|\]
    <strong>4. Scalar Triple Product:</strong>
    \[A. \; The \; scaler \; triple \; product \; of \; three \; vectors \; \vec a, \; \vec b, \; \vec c
    \; is \; defined \; as: \; \vec a \times \vec b . \vec c = |\vec a||\vec b||\vec c| sin \theta cos
    \phi\]
    \[B. \; Volume \; of \; tetrahydron \; V = [\vec a \vec b \vec c]\]
    \[C. \; In \; a \; scalar \; triple \; product \; the \; position \; of \; dot \; \& \; cross \; can
    \; be \; interchanged \; i.e. \; \vec a.(\vec b \times \vec c)=(\vec a \times \vec b). \vec c \; \;
    \; OR [\vec a \vec b \vec c]=[\vec b \vec c \vec a]=[\vec c \vec a \vec b]\]
    \[D. \; \vec a.(\vec b \times \vec c)=- \vec a (\vec c \times \vec b) \; \; i.e. \; [\vec a \vec b
    \vec c]=-[\vec a \vec c \vec b]\]
    \[E. \; If \; \vec a = a_1i+a_2j+a_3k; \; \; \; \vec b = b_1i+b_2j+b_3k; \; \; \; \vec c =
    c_1i+c_2j+c_3k \; then \; [\vec a \vec b \vec c ]=\left|\begin{matrix} a_1 & a_2 & a_3 \\ b_1 & b_2
    & b_3 \\ c_1 & c_2 & c_3\end{matrix}\right|\]
    \[F. \; If \; \vec a, \vec b, \vec c \; are \; coplaner \; \implies [\vec a \vec b \vec c]=0\]
    \[G. \; Volume \; of \; tetrahedron \; OABC \; with \; O \; as \; origin \; \& \; A(\vec a), \;
    B(\vec b) \; and \; C(\vec c) \; be \; the \; vertices = |\frac{1}{6}[\vec a \vec b \vec c]|\]
    \[H. \; The \; positon \; vector \; of \; the \; centroid \; of \; a \; tetrahedron \; if \; the \;
    pv's \; of \; its \; vertices \; are \; \vec a, \; \vec b, \vec c \; \& \; \vec d \; are \; givn \;
    by \; \frac{1}{4}[\vec a + \vec b + \vec c + \vec d]\]
    <strong>5. Vector Triple Product: </strong>
    \[\vec a \times (\vec b \times \vec c)=(\vec a. \vec c)\vec b - (\vec a. \vec b)\vec c, \; \; (\vec
    a \times \vec b)\times \vec c=(\vec a. \vec c)\vec b-(\vec b. \vec c)\vec a\]
    \[(\vec a \times \vec b) \times \vec c \neq \vec a \times (\vec b \times \vec c), \; in \; general\]
</p>