<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../css/loader.css">
    <link rel="icon" type="image/png" href="../resourses/favicon.png">
</head>
<body>
    <div class="loading_page">
        <div class="loader1">
            <span style="color: blueviolet;" class="s1">M</span>
            <span style="color: white;" class="s1">a</span>
            <span style="color: white;" class="s1">t</span>
            <span style="color: white;" class="s1">h &nbsp;</span>
            <span style="color: blueviolet;" class="s1">F</span>
            <span style="color: white;" class="s1">o</span>
            <span style="color: white;" class="s1">r</span>
            <span style="color: white;" class="s1">m</span>
            <span style="color: white;" class="s1">u</span>
            <span style="color: white;" class="s1">l</span>
            <span style="color: white;" class="s1">a</span>
            <span style="color: white;" class="s1">e</span>
        </div>
    </div>
    <script src="../js/loader.js"></script>
</body>
</html>