h1{
    font-size: 1rem;
}
#heading{
    flex-direction: column;
    align-items: center;
    padding: 0vh 1vh;
}
#dropdown {
    flex-direction: column-reverse;
    padding: 0vh 0.5vh;
}

#dropdown_button{
    height: 4vh;
    width: 4vh;
    font-size: 1.1rem;
    margin-left: 2px;
    margin-right: 2px;
}
#dropdown_button1{
    height: 5vh;
    width: 5vh;
}
#dropdown_menu{
    position: absolute;
    justify-content: space-evenly;
    align-items: flex-start;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 0px;
    top: 50px;
    right: 5px;
    height: 12vh;
    z-index: 5;
}
#dropdown_menu li{
    margin: 0px;
}
#dropdown_menu li a{
    font-size: 0.6rem;
    padding: 0vh 0.5vh;
}

#contribute_body {
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
}

#lottieContribute{
    height: 50vh;
    margin-top: 50px;
}
#lottieArrow{
    transform: rotate(0deg);
    height: 30vh;
}

#contribution_popup{
    height: 420px;
    width: 320px;
    margin: 20px;
}
#contribution_p{
    font-size: 1.4rem;
}
.c_input_field label{
    font-size: 0.9rem;
}
#contribution{
    font-size: 0.8rem;
}
.contributionCardBody{
    font-size: 0.8rem;
}
.contributionCardContributedBy{
    font-size: 0.8rem;
}
.contributionCardLike{
    font-size: 0.8rem;
}