<p onclick="open_sub_content('a45','_7a'), colorchange('ab45','7ab')" class="7ab" id="ab45"
    style="color: rgb(195, 131, 255);">Differentiation of some elementary function</p>
<p onclick="open_sub_content('a46','_7a'), colorchange('ab46','7ab')" class="7ab" id="ab46">Basic
    Theorems</p>
<p onclick="open_sub_content('a47','_7a'), colorchange('ab47','7ab')" class="7ab" id="ab47">
    Differentiation using substitution</p>
<p onclick="open_sub_content('a48','_7a'), colorchange('ab48','7ab')" class="7ab" id="ab48">Parametric
    Differentiation</p>
<p onclick="open_sub_content('a49','_7a'), colorchange('ab49','7ab')" class="7ab" id="ab49">Derivative
    of one function with respect to another</p>