<p onclick="open_sub_content('a69','_11a'), colorchange('ab69','11ab')" class="11ab" id="ab69"
    style="color: rgb(195, 131, 255);">Intervals</p>
<p onclick="open_sub_content('a70','_11a'), colorchange('ab70','11ab')" class="11ab" id="ab70">
    Properties of Modulus</p>
<p onclick="open_sub_content('a71','_11a'), colorchange('ab71','11ab')" class="11ab" id="ab71">
    Trigonometric Functions of Sum or Difference of Two Angles</p>
<p onclick="open_sub_content('a72','_11a'), colorchange('ab72','11ab')" class="11ab" id="ab72">
    Factorisation of the Sum or Difference of Two Sines or Cosines</p>
<p onclick="open_sub_content('a73','_11a'), colorchange('ab73','11ab')" class="11ab" id="ab73">Multiple
    and Sub-multiple Angles</p>
<p onclick="open_sub_content('a74','_11a'), colorchange('ab74','11ab')" class="11ab" id="ab74">Important
    Trigonometric Ratios</p>
<p onclick="open_sub_content('a75','_11a'), colorchange('ab75','11ab')" class="11ab" id="ab75">Range of
    Trigonometric Expression</p>
<p onclick="open_sub_content('a76','_11a'), colorchange('ab76','11ab')" class="11ab" id="ab76">Sine and
    Cosine Series </p>
<p onclick="open_sub_content('a77','_11a'), colorchange('ab77','11ab')" class="11ab" id="ab77">
    Trigonometric Equations</p>