<p onclick="open_sub_content('a1','_1a'), colorchange('ab1','1ab')" class="1ab" id="ab1"
    style="color: rgb(195, 131, 255);">Distance Formula</p>
<p onclick="open_sub_content('a2','_1a'), colorchange('ab2','1ab')" class="1ab" id="ab2">Section Formula
</p>
<p onclick="open_sub_content('a3','_1a'), colorchange('ab3','1ab')" class="1ab" id="ab3">Centroid,
    Incentre & Excentre</p>
<p onclick="open_sub_content('a4','_1a'), colorchange('ab4','1ab')" class="1ab" id="ab4">Area of a
    Triangle</p>
<p onclick="open_sub_content('a5','_1a'), colorchange('ab5','1ab')" class="1ab" id="ab5">Slope Formula
</p>
<p onclick="open_sub_content('a6','_1a'), colorchange('ab6','1ab')" class="1ab" id="ab6">Condition of
    collinearity of three points</p>
<p onclick="open_sub_content('a7','_1a'), colorchange('ab7','1ab')" class="1ab" id="ab7">Angle between
    two straight lines</p>
<p onclick="open_sub_content('a8','_1a'), colorchange('ab8','1ab')" class="1ab" id="ab8">Two Lines</p>
<p onclick="open_sub_content('a9','_1a'), colorchange('ab9','1ab')" class="1ab" id="ab9">A point and
    line</p>
<p onclick="open_sub_content('a10','_1a'), colorchange('ab10','1ab')" class="1ab" id="ab10">Bisectors of
    the angles between two lines</p>
<p onclick="open_sub_content('a11','_1a'), colorchange('ab11','1ab')" class="1ab" id="ab11">Condition of
    Concurrency</p>
<p onclick="open_sub_content('a12','_1a'), colorchange('ab12','1ab')" class="1ab" id="ab12">A pair of
    straight lines through origin </p>