<p onclick="open_sub_content('a152','_21a'), colorchange('ab152','21ab')" class="21ab" id="ab152"
    style="color: rgb(195, 131, 255);">Principal Values & Domains of Inverse Trigonometric/Circular
    Functions</p>
<p onclick="open_sub_content('a153','_21a'), colorchange('ab153','21ab')" class="21ab" id="ab153">
    Identities of Addition and Substraction</p>