<p onclick="open_sub_content('a50','_8a'), colorchange('ab50','8ab')" class="8ab" id="ab50"
    style="color: rgb(195, 131, 255);">Equation of tangent and normal</p>
<p onclick="open_sub_content('a51','_8a'), colorchange('ab51','8ab')" class="8ab" id="ab51">Tangent from
    an external point</p>
<p onclick="open_sub_content('a52','_8a'), colorchange('ab52','8ab')" class="8ab" id="ab52">Length of
    tangent, normal, subtangent, subnormal</p>
<p onclick="open_sub_content('a53','_8a'), colorchange('ab53','8ab')" class="8ab" id="ab53">Angle
    between the curves</p>
<p onclick="open_sub_content('a54','_8a'), colorchange('ab54','8ab')" class="8ab" id="ab54">Rolle's
    Theorem</p>
<p onclick="open_sub_content('a55','_8a'), colorchange('ab55','8ab')" class="8ab" id="ab55">Lagrange's
    Mean Value Theorem (LMVT)</p>
<p onclick="open_sub_content('a56','_8a'), colorchange('ab56','8ab')" class="8ab" id="ab56">Useful
    Formulae of Mensuration to Remember</p>