<p onclick="open_sub_content('a57','_9a'), colorchange('ab57','9ab')" class="9ab" id="ab57"
    style="color: rgb(195, 131, 255);">Introduction</p>
<p onclick="open_sub_content('a58','_9a'), colorchange('ab58','9ab')" class="9ab" id="ab58">Standard
    Formula</p>
<p onclick="open_sub_content('a59','_9a'), colorchange('ab59','9ab')" class="9ab" id="ab59">Integration
    by Subsitutions</p>
<p onclick="open_sub_content('a60','_9a'), colorchange('ab60','9ab')" class="9ab" id="ab60">Integration
    by Part</p>
<p onclick="open_sub_content('a61','_9a'), colorchange('ab61','9ab')" class="9ab" id="ab61">Integration
    of type A</p>
<p onclick="open_sub_content('a62','_9a'), colorchange('ab62','9ab')" class="9ab" id="ab62">Integration
    of type B</p>
<p onclick="open_sub_content('a63','_9a'), colorchange('ab63','9ab')" class="9ab" id="ab63">Integration
    of type C</p>
<p onclick="open_sub_content('a64','_9a'), colorchange('ab64','9ab')" class="9ab" id="ab64">Integration
    of type D</p>
<p onclick="open_sub_content('a65','_9a'), colorchange('ab65','9ab')" class="9ab" id="ab65">Integration
    of type E</p>
<p onclick="open_sub_content('a66','_9a'), colorchange('ab66','9ab')" class="9ab" id="ab66">Integration
    of trigonometric functions</p>