<p onclick="open_sub_content('a98','_16a'), colorchange('ab98','16ab')" class="16ab" id="ab98"
    style="color: rgb(195, 131, 255);">Classical (A priori) Definition of Probability</p>
<p onclick="open_sub_content('a99','_16a'), colorchange('ab99','16ab')" class="16ab" id="ab99">Different
    Properties of probability</p>
<p onclick="open_sub_content('a100','_16a'), colorchange('ab100','16ab')" class="16ab" id="ab100">
    Conditional Probability</p>
<p onclick="open_sub_content('a101','_16a'), colorchange('ab101','16ab')" class="16ab" id="ab101">
    Binomial Probability Theorem</p>
<p onclick="open_sub_content('a102','_16a'), colorchange('ab102','16ab')" class="16ab" id="ab102">
    Expectation</p>
<p onclick="open_sub_content('a103','_16a'), colorchange('ab103','16ab')" class="16ab" id="ab103">Total
    Probability Theorem</p>
<p onclick="open_sub_content('a104','_16a'), colorchange('ab104','16ab')" class="16ab" id="ab104">Bayes'
    Theorem</p>
<p onclick="open_sub_content('a105','_16a'), colorchange('ab105','16ab')" class="16ab" id="ab105">
    Binomial Probability Distribution</p>