<p onclick="open_sub_content('a163','_24a'), colorchange('ab163','24ab')" class="24ab" id="ab163"
    style="color: rgb(195, 131, 255);">Laws of Algebra of sets (Properties of sets)</p>
<p onclick="open_sub_content('a164','_24a'), colorchange('ab164','24ab')" class="24ab" id="ab164">Some
    important results on number of elements in sets</p>
<p onclick="open_sub_content('a165','_24a'), colorchange('ab165','24ab')" class="24ab" id="ab165">Types
    of relations</p>