<p onclick="open_sub_content('a28','_4a'), colorchange('ab28','4ab')" class="4ab" id="ab28"
    style="color: rgb(195, 131, 255);">All equations of Ellipse</p>
<p onclick="open_sub_content('a29','_4a'), colorchange('ab29','4ab')" class="4ab" id="ab29">Auxiliary
    Circle</p>
<p onclick="open_sub_content('a30','_4a'), colorchange('ab30','4ab')" class="4ab" id="ab30">Parametric
    Representation</p>
<p onclick="open_sub_content('a31','_4a'), colorchange('ab31','4ab')" class="4ab" id="ab31">Position of
    a Point w.r.t. an Ellipse</p>
<p onclick="open_sub_content('a32','_4a'), colorchange('ab32','4ab')" class="4ab" id="ab32">Tangents</p>
<p onclick="open_sub_content('a33','_4a'), colorchange('ab33','4ab')" class="4ab" id="ab33">Normals</p>
<p onclick="open_sub_content('a34','_4a'), colorchange('ab34','4ab')" class="4ab" id="ab34">Director
    Circle</p>