<p onclick="open_sub_content('a92','_15a'), colorchange('ab92','15ab')" class="15ab" id="ab92"
    style="color: rgb(195, 131, 255);">Arrangement</p>
<p onclick="open_sub_content('a93','_15a'), colorchange('ab93','15ab')" class="15ab" id="ab93">Circular
    Permutation</p>
<p onclick="open_sub_content('a94','_15a'), colorchange('ab94','15ab')" class="15ab" id="ab94">Selection
</p>
<p onclick="open_sub_content('a95','_15a'), colorchange('ab95','15ab')" class="15ab" id="ab95">Selection
    of one or more objects</p>
<p onclick="open_sub_content('a96','_15a'), colorchange('ab96','15ab')" class="15ab" id="ab96">
    Multinomial Theorem</p>
<p onclick="open_sub_content('a97','_15a'), colorchange('ab97','15ab')" class="15ab" id="ab97">
    Dearrangement</p>