<p onclick="open_sub_content('a119','_19a'), colorchange('ab119','19ab')" class="19ab" id="ab119"
    style="color: rgb(195, 131, 255);">Vector representation of a point</p>
<p onclick="open_sub_content('a120','_19a'), colorchange('ab120','19ab')" class="19ab" id="ab120">
    Distance formula</p>
<p onclick="open_sub_content('a121','_19a'), colorchange('ab121','19ab')" class="19ab" id="ab121">
    Distance of P from coordinate axes</p>
<p onclick="open_sub_content('a122','_19a'), colorchange('ab122','19ab')" class="19ab" id="ab122">
    Section Formula</p>
<p onclick="open_sub_content('a123','_19a'), colorchange('ab123','19ab')" class="19ab" id="ab123">
    Direction Cosines And Direction Ratios</p>
<p onclick="open_sub_content('a124','_19a'), colorchange('ab124','19ab')" class="19ab" id="ab124">Angle
    Between Two Line Segments</p>
<p onclick="open_sub_content('a125','_19a'), colorchange('ab125','19ab')" class="19ab" id="ab125">
    Projection of a line segment on a line</p>
<p onclick="open_sub_content('a126','_19a'), colorchange('ab126','19ab')" class="19ab" id="ab126">
    Equation Of A Plane</p>
<p onclick="open_sub_content('a127','_19a'), colorchange('ab127','19ab')" class="19ab" id="ab127">A
    Plane & A Point</p>
<p onclick="open_sub_content('a128','_19a'), colorchange('ab128','19ab')" class="19ab" id="ab128">Angle
    Between Two Planes</p>
<p onclick="open_sub_content('a129','_19a'), colorchange('ab129','19ab')" class="19ab" id="ab129">Angle
    Bisectors</p>
<p onclick="open_sub_content('a130','_19a'), colorchange('ab130','19ab')" class="19ab" id="ab130">Family
    of Planes</p>
<p onclick="open_sub_content('a131','_19a'), colorchange('ab131','19ab')" class="19ab" id="ab131">Volume
    Of A Tetrahedron</p>
<p onclick="open_sub_content('a132','_19a'), colorchange('ab132','19ab')" class="19ab" id="ab132">
    Equation Of A Line</p>
<p onclick="open_sub_content('a133','_19a'), colorchange('ab133','19ab')" class="19ab" id="ab133">Angle
    Between A Plane And A Line</p>
<p onclick="open_sub_content('a134','_19a'), colorchange('ab134','19ab')" class="19ab" id="ab134">
    Condition For A Line To Lie In A Plane</p>
<p onclick="open_sub_content('a135','_19a'), colorchange('ab135','19ab')" class="19ab" id="ab135">Skew
    Lines</p>
<p onclick="open_sub_content('a136','_19a'), colorchange('ab136','19ab')" class="19ab" id="ab136">Sphere
</p>