<p onclick="open_sub_content('a83','_13a'), colorchange('ab83','13ab')" class="13ab" id="ab83"
    style="color: rgb(195, 131, 255);">An arithmetic progression (A.P.)</p>
<p onclick="open_sub_content('a84','_13a'), colorchange('ab84','13ab')" class="13ab" id="ab84">Geometric
    Progression</p>
<p onclick="open_sub_content('a85','_13a'), colorchange('ab85','13ab')" class="13ab" id="ab85">Harmonic
    Mean (H.M.)</p>