<p onclick="open_sub_content('a13','_2a'), colorchange('ab13','2ab')" class="2ab" id="ab13"
    style="color: rgb(195, 131, 255);">Intercepts made by Circle</p>
<p onclick="open_sub_content('a14','_2a'), colorchange('ab14','2ab')" class="2ab" id="ab14">Parametric
    Equations of a Circle</p>
<p onclick="open_sub_content('a15','_2a'), colorchange('ab15','2ab')" class="2ab" id="ab15">Tangent</p>
<p onclick="open_sub_content('a16','_2a'), colorchange('ab16','2ab')" class="2ab" id="ab16">Pair of
    Tangents from a Point</p>
<p onclick="open_sub_content('a17','_2a'), colorchange('ab17','2ab')" class="2ab" id="ab17">Length of a
    Tangent</p>
<p onclick="open_sub_content('a18','_2a'), colorchange('ab18','2ab')" class="2ab" id="ab18">Center at
    some point</p>
<p onclick="open_sub_content('a19','_2a'), colorchange('ab19','2ab')" class="2ab" id="ab19">Director
    Circle</p>
<p onclick="open_sub_content('a20','_2a'), colorchange('ab20','2ab')" class="2ab" id="ab20">Chord of
    Contact</p>
<p onclick="open_sub_content('a21','_2a'), colorchange('ab21','2ab')" class="2ab" id="ab21">Condition of
    orthogonality of Two Circles</p>
<p onclick="open_sub_content('a22','_2a'), colorchange('ab22','2ab')" class="2ab" id="ab22">Radical Axis
</p>
<p onclick="open_sub_content('a23','_2a'), colorchange('ab23','2ab')" class="2ab" id="ab23">Family of
    Circles</p>