<p onclick="open_sub_content('a106','_17a'), colorchange('ab106','17ab')" class="17ab" id="ab106"
    style="color: rgb(195, 131, 255);">The complex number system</p>
<p onclick="open_sub_content('a107','_17a'), colorchange('ab107','17ab')" class="17ab" id="ab107">
    Equality In Complex Number</p>
<p onclick="open_sub_content('a108','_17a'), colorchange('ab108','17ab')" class="17ab" id="ab108">
    Properties of arguments</p>
<p onclick="open_sub_content('a109','_17a'), colorchange('ab109','17ab')" class="17ab" id="ab109">
    Properties of conjugate</p>
<p onclick="open_sub_content('a110','_17a'), colorchange('ab110','17ab')" class="17ab" id="ab110">
    Rotation theorem</p>
<p onclick="open_sub_content('a111','_17a'), colorchange('ab111','17ab')" class="17ab" id="ab111">
    Demoivre's Theorem</p>
<p onclick="open_sub_content('a112','_17a'), colorchange('ab112','17ab')" class="17ab" id="ab112">Cube
    Root Of Unity</p>
<p onclick="open_sub_content('a113','_17a'), colorchange('ab113','17ab')" class="17ab" id="ab113">
    Geometrical Properties</p>