<p onclick="open_sub_content('a35','_5a'), colorchange('ab35','5ab')" class="5ab" id="ab35"
    style="color: rgb(195, 131, 255);">All equations of Hyperbola</p>
<p onclick="open_sub_content('a36','_5a'), colorchange('ab36','5ab')" class="5ab" id="ab36">Auxiliary
    Circle</p>
<p onclick="open_sub_content('a37','_5a'), colorchange('ab37','5ab')" class="5ab" id="ab37">Parametric
    Representation</p>
<p onclick="open_sub_content('a38','_5a'), colorchange('ab38','5ab')" class="5ab" id="ab38">Position of
    a Point w.r.t. an Hyperbola</p>
<p onclick="open_sub_content('a39','_5a'), colorchange('ab39','5ab')" class="5ab" id="ab39">Tangents</p>
<p onclick="open_sub_content('a40','_5a'), colorchange('ab40','5ab')" class="5ab" id="ab40">Normals</p>