<p onclick="open_sub_content('a161','_23a'), colorchange('ab161','23ab')" class="23ab" id="ab161"
    style="color: rgb(195, 131, 255);">Tautology</p>
<p onclick="open_sub_content('a162','_23a'), colorchange('ab162','23ab')" class="23ab" id="ab162">
    Fallacy</p>