<p onclick="open_sub_content('a137','_20a'), colorchange('ab137','20ab')" class="20ab" id="ab137"
    style="color: rgb(195, 131, 255);">Sine Rule</p>
<p onclick="open_sub_content('a138','_20a'), colorchange('ab138','20ab')" class="20ab" id="ab138">Cosine
    Formula</p>
<p onclick="open_sub_content('a139','_20a'), colorchange('ab139','20ab')" class="20ab" id="ab139">
    Projection Formula</p>
<p onclick="open_sub_content('a140','_20a'), colorchange('ab140','20ab')" class="20ab" id="ab140">
    Napier's Analogy - tangent rule</p>
<p onclick="open_sub_content('a141','_20a'), colorchange('ab141','20ab')" class="20ab" id="ab141">
    Trigonometric Functions of Half Angles</p>
<p onclick="open_sub_content('a142','_20a'), colorchange('ab142','20ab')" class="20ab" id="ab142">Area
    of Triangle</p>
<p onclick="open_sub_content('a143','_20a'), colorchange('ab143','20ab')" class="20ab" id="ab143">m - n
    Rule</p>
<p onclick="open_sub_content('a144','_20a'), colorchange('ab144','20ab')" class="20ab" id="ab144">Radius
    of Circumcirlce</p>
<p onclick="open_sub_content('a145','_20a'), colorchange('ab145','20ab')" class="20ab" id="ab145">Radius
    of The Incircle</p>
<p onclick="open_sub_content('a146','_20a'), colorchange('ab146','20ab')" class="20ab" id="ab146">Radius
    of The Ex- Circles</p>
<p onclick="open_sub_content('a148','_20a'), colorchange('ab148','20ab')" class="20ab" id="ab148">Length
    of Angle Bisectors, Medians & Altitudes</p>
<p onclick="open_sub_content('a149','_20a'), colorchange('ab149','20ab')" class="20ab" id="ab149">
    Orthocentre and Pedal Triangle</p>
<p onclick="open_sub_content('a150','_20a'), colorchange('ab150','20ab')" class="20ab" id="ab150">
    Excentral Triangle</p>
<p onclick="open_sub_content('a151','_20a'), colorchange('ab151','20ab')" class="20ab" id="ab151">
    Distance Between Special Points</p>