<p onclick="open_sub_content('a154','_22a'), colorchange('ab154','22ab')" class="22ab" id="ab154"
    style="color: rgb(195, 131, 255);">Arithmetic Mean / or Mean</p>
<p onclick="open_sub_content('a155','_22a'), colorchange('ab155','22ab')" class="22ab" id="ab155">
    Properties of Arithmetic Mean</p>
<p onclick="open_sub_content('a156','_22a'), colorchange('ab156','22ab')" class="22ab" id="ab156">Median
</p>
<p onclick="open_sub_content('a157','_22a'), colorchange('ab157','22ab')" class="22ab" id="ab157">Mode
</p>
<p onclick="open_sub_content('a158','_22a'), colorchange('ab158','22ab')" class="22ab" id="ab158">Range
</p>
<p onclick="open_sub_content('a159','_22a'), colorchange('ab159','22ab')" class="22ab" id="ab159">Mean
    deviation</p>
<p onclick="open_sub_content('a160','_22a'), colorchange('ab160','22ab')" class="22ab" id="ab160">
    Variance</p>