<p onclick="open_sub_content('a86','_14a'), colorchange('ab86','14ab')" class="14ab" id="ab86"
    style="color: rgb(195, 131, 255);">Statement of Binomial theorem</p>
<p onclick="open_sub_content('a87','_14a'), colorchange('ab87','14ab')" class="14ab" id="ab87">
    Properties of Binomial Theorem</p>
<p onclick="open_sub_content('a88','_14a'), colorchange('ab88','14ab')" class="14ab" id="ab88">
    Multinomial Theorem</p>
<p onclick="open_sub_content('a89','_14a'), colorchange('ab89','14ab')" class="14ab" id="ab89">
    Application of Binomial Theorem</p>
<p onclick="open_sub_content('a90','_14a'), colorchange('ab90','14ab')" class="14ab" id="ab90">
    Properties of Binomial Coefficients</p>
<p onclick="open_sub_content('a91','_14a'), colorchange('ab91','14ab')" class="14ab" id="ab91">Binomial
    Theorem For Negative Integer Or Fractional Indices</p>