<p onclick="open_sub_content('a24','_3a'), colorchange('ab24','3ab')" class="3ab" id="ab24"
    style="color: rgb(195, 131, 255);">All equations of Parabola</p>
<p onclick="open_sub_content('a25','_3a'), colorchange('ab25','3ab')" class="3ab" id="ab25">Parametric
    Representation</p>
<p onclick="open_sub_content('a26','_3a'), colorchange('ab26','3ab')" class="3ab" id="ab26">Tangents to
    the Parabola</p>
<p onclick="open_sub_content('a27','_3a'), colorchange('ab27','3ab')" class="3ab" id="ab27">Normals to
    the Parabola</p>