<p onclick="open_sub_content('a78','_12a'), colorchange('ab78','12ab')" class="12ab" id="ab78"
    style="color: rgb(195, 131, 255);">Quadratic Equation</p>
<p onclick="open_sub_content('a79','_12a'), colorchange('ab79','12ab')" class="12ab" id="ab79">Nature of
    Roots</p>
<p onclick="open_sub_content('a80','_12a'), colorchange('ab80','12ab')" class="12ab" id="ab80">Common
    Roots</p>
<p onclick="open_sub_content('a81','_12a'), colorchange('ab81','12ab')" class="12ab" id="ab81">Range of
    Quadratic Expression</p>
<p onclick="open_sub_content('a82','_12a'), colorchange('ab82','12ab')" class="12ab" id="ab82">Location
    of Roots</p>